In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import os
import pandas as pd
from pyspark.sql.types import IntegerType, LongType, DoubleType, BooleanType, DateType

In [2]:
# Probably need to change this if your on MAC
spark = (
    SparkSession.builder.appName("Preprocessing")
    .config("spark.sql.repl.eagerEval.enabled", True)
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
24/09/11 13:36:24 WARN Utils: Your hostname, Andy-PC resolves to a loopback address: 127.0.1.1; using 172.18.158.239 instead (on interface eth0)
24/09/11 13:36:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/11 13:36:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/11 13:36:26 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
transactions1 = spark.read.parquet("../data/tables/transactions_20210228_20210827_snapshot")
transactions2 = spark.read.parquet("../data/tables/transactions_20210828_20220227_snapshot")
transactions3 = spark.read.parquet("../data/tables/transactions_20220228_20220828_snapshot")
transactions = transactions1.union(transactions2).union(transactions3)
transactions.show()

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|  18478| 62191208634|63.255848959735246|949a63c8-29f7-4ab...|    2021-08-20|
|      2| 15549624934| 130.3505283105634|6a84c3cf-612a-457...|    2021-08-20|
|  18479| 64403598239|120.15860593212783|b10dcc33-e53f-425...|    2021-08-20|
|      3| 60956456424| 136.6785200286976|0f09c5a5-784e-447...|    2021-08-20|
|  18479| 94493496784| 72.96316578355305|f6c78c1a-4600-4c5...|    2021-08-20|
|      3| 76819856970|  448.529684285612|5ace6a24-cdf0-4aa...|    2021-08-20|
|  18479| 67609108741|  86.4040605836911|d0e180f0-cb06-42a...|    2021-08-20|
|      3| 34096466752| 301.5793450525113|6fb1ff48-24bb-4f9...|    2021-08-20|
|  18482| 70501974849| 68.75486276223054|8505fb33-b69a-412...|    2021-08-20|
|      4| 49891706470| 48.89796461900801|ed11e477-b09f-4ae...|    2021-08-20|
|  18482| 46804135891|6.6168976971833615|05b5edb5-b925-414...|    2021-08-20|
|      7| 33064796871| 373.0873675184212|fe188788-b89f-4dd...|    2021-08-20|
|  18483| 44160392990| 83.98473054761176|7c44302d-98b3-48b...|    2021-08-20|
|      7| 68435002949| 232.5364986739752|b4a89891-a113-45e...|    2021-08-20|
|  18484| 70033549200| 871.7678061729196|4b1d941a-21a1-43e...|    2021-08-20|
|      7| 41944909975|30.910755230234322|302ae628-8eba-4a5...|    2021-08-20|
|  18485| 41705715409| 309.5417224575787|67f4f98e-3149-4e8...|    2021-08-20|
|      8| 29566626791| 74.15732460440282|71a81652-cc91-4bf...|    2021-08-20|
|  18487| 32361057556|119.19055863068847|15577921-1104-470...|    2021-08-20|
|      9| 47663262928| 36.69873283148887|c4fcb49a-ce87-4e1...|    2021-08-20|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

In [4]:
tbl_consumer = spark.read.option("header", True).option("delimiter", "|").csv("../data/tables/tbl_consumer.csv")
print("Number of counts before preprocessing: " + str(tbl_consumer.count()))

tbl_consumer = tbl_consumer.drop("address") # dropped address column
tbl_consumer = tbl_consumer.filter(F.col("state").isin(["NSW", "WA", "NT", "VIC", "TAS", "QLD", "SA",   "ACT"]))   
tbl_consumer = tbl_consumer.filter(F.col("gender").isin(["Female", "Male", "Undisclosed"]))
tbl_consumer = tbl_consumer.withColumn("postcode", tbl_consumer["postcode"].cast(IntegerType()))

# Looked up all the valid postcodes in Australia. But some of them are considered LVR or PO boxes only, but I kept them in anyways idk.
tbl_consumer = tbl_consumer.filter(
    ((F.col("postcode") >= 1000) & (F.col("postcode") <= 1999)) |  
    ((F.col("postcode") >= 2000) & (F.col("postcode") <= 2599)) |
    ((F.col("postcode") >= 2619) & (F.col("postcode") <= 2899)) |
    ((F.col("postcode") >= 2921) & (F.col("postcode") <= 2999)) |
    ((F.col("postcode") >= 200) & (F.col("postcode") <= 299)) |  
    ((F.col("postcode") >= 2600) & (F.col("postcode") <= 2618)) |
    ((F.col("postcode") >= 2900) & (F.col("postcode") <= 2920)) |
    ((F.col("postcode") >= 3000) & (F.col("postcode") <= 3999)) |
    ((F.col("postcode") >= 8000) & (F.col("postcode") <= 8999)) |  
    ((F.col("postcode") >= 4000) & (F.col("postcode") <= 4999)) |
    ((F.col("postcode") >= 9000) & (F.col("postcode") <= 9999)) |  
    ((F.col("postcode") >= 5000) & (F.col("postcode") <= 5799)) |
    ((F.col("postcode") >= 5800) & (F.col("postcode") <= 5999)) |  
    ((F.col("postcode") >= 6000) & (F.col("postcode") <= 6797)) |
    ((F.col("postcode") >= 6800) & (F.col("postcode") <= 6999)) |  
    ((F.col("postcode") >= 7000) & (F.col("postcode") <= 7799)) |
    ((F.col("postcode") >= 7800) & (F.col("postcode") <= 7999)) |  
    ((F.col("postcode") >= 800) & (F.col("postcode") <= 899)) |
    ((F.col("postcode") >= 900) & (F.col("postcode") <= 999))
)

print(tbl_consumer.select("state").distinct())
print(tbl_consumer.select("gender").distinct())


print("Number of unique consumer_id: "+str(tbl_consumer.select("consumer_id").distinct().count()))
print("Number of counts after preprocessing: " + str(tbl_consumer.count()))
tbl_consumer = tbl_consumer.withColumnRenamed("name","consumer_name")

tbl_consumer.printSchema()
tbl_consumer

Number of counts before preprocessing: 499999

+-----+
|state|
+-----+
|   NT|
|  ACT|
|   SA|
|  TAS|
|   WA|
|  QLD|
|  VIC|
|  NSW|
+-----+

+-----------+
|     gender|
+-----------+
|Undisclosed|
|     Female|
|       Male|
+-----------+

Number of unique consumer_id: 499690
Number of counts after preprocessing: 499690
root
 |-- consumer_name: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- consumer_id: string (nullable = true)

+-----------------+-----+--------+-----------+-----------+
|    consumer_name|state|postcode|     gender|consumer_id|
+-----------------+-----+--------+-----------+-----------+
| Yolanda Williams|   WA|    6935|     Female|    1195503|
|       Mary Smith|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|   WA|    6355|     Female|     712975|
|    Karen Chapman|  NSW|    2033|     Female|     407340|
|     Andrea Jones|  QLD|    4606|     Female|     511685|
| Stephen Williams|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|  QLD|    4673|     Female|    1146717|
|     Lance Butler|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|  TAS|    7276|     Female|    1226530|
|     James Norris|  VIC|    3234|Undisclosed|    1390367|
+-----------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [5]:
merchant_fraud = spark.read.option("header", True).csv("../data/tables/merchant_fraud_probability.csv")
print(merchant_fraud.count())

merchant_fraud = merchant_fraud.filter((F.col("fraud_probability")>=0) &(F.col("fraud_probability")<=100))
# Type casting
merchant_fraud = merchant_fraud.withColumn("fraud_probability", merchant_fraud["fraud_probability"].cast(DoubleType()))
merchant_fraud = merchant_fraud.withColumn("order_datetime", merchant_fraud["order_datetime"].cast(DateType()))


#merchant_fraud = merchant_fraud.withColumn("order_datetime", F.date_format(merchant_fraud["order_datetime"], "yyyy-MM"))    # I dropped the date here cause we said we only need month.
merchant_fraud.printSchema()
merchant_fraud = merchant_fraud.withColumnRenamed("fraud_probability", "merchant_fraud_probability")
merchant_fraud.select([F.sum(F.col(i).isNull().cast("int")).alias(i) for i in merchant_fraud.columns]).show()

114
root
 |-- merchant_abn: string (nullable = true)
 |-- order_datetime: date (nullable = true)
 |-- fraud_probability: double (nullable = true)

+------------+--------------+--------------------------+
|merchant_abn|order_datetime|merchant_fraud_probability|
+------------+--------------+--------------------------+
|           0|             0|                         0|
+------------+--------------+--------------------------+

In [6]:
# copied from Alan
tbl_merchants = spark.read.parquet("../data/tables/tbl_merchants.parquet")
tbl_merchants = tbl_merchants.withColumn('tags', F.regexp_replace('tags', r'\(', r'\[')) \
    .withColumn('tags', F.lower(F.regexp_replace('tags', r'\)', r'\]')))

tbl_merchants = tbl_merchants.withColumn('tags1', (F.regexp_extract('tags', r'\[(\[[^\]]*\])[^\[]*\[([^\]]*)\][^\[]*\[take rate: ([^\]]*)\]\]', idx=1)))
tbl_merchants = tbl_merchants.withColumn('tags2', (F.regexp_extract('tags', r'\[(\[[^\]]*\])[^\[]*\[([^\]]*)\][^\[]*\[take rate: ([^\]]*)\]\]', idx=2)))
tbl_merchants = tbl_merchants.withColumn('tags3', (F.regexp_extract('tags', r'\[(\[[^\]]*\])[^\[]*\[([^\]]*)\][^\[]*\[take rate: ([^\]]*)\]\]', idx=3)).cast(DoubleType()))
tbl_merchants.sort('tags3').show(truncate=False)
tbl_merchants = tbl_merchants.withColumnRenamed("name", "merchant_name")

+----------------------------+-----------------------------------------------------------------------------------------------------------------+------------+---------------------------------------------------------------------------------------+-----+-----+
|name                        |tags                                                                                                             |merchant_abn|tags1                                                                                  |tags2|tags3|
+----------------------------+-----------------------------------------------------------------------------------------------------------------+------------+---------------------------------------------------------------------------------------+-----+-----+
|Lacus LLP                   |[[books, periodicals, and newspapers], [e], [take rate: 0.10]]                                                   |55622580330 |[books, periodicals, and newspapers]                                                   |e    |0.1  |
|Et Nunc Consulting          |[[books, periodicals, and newspapers], [e], [take rate: 0.16]]                                                   |41944909975 |[books, periodicals, and newspapers]                                                   |e    |0.16 |
|Proin Vel Inc.              |[[stationery, office supplies and printing and writing paper], [e], [take rate: 0.16]]                           |25019506172 |[stationery, office supplies and printing and writing paper]                           |e    |0.16 |
|Feugiat Non Inc.            |[[health and beauty spas], [e], [take rate: 0.16]]                                                               |52985233084 |[health and beauty spas]                                                               |e    |0.16 |
|Enim Etiam Institute        |[[telecom], [e], [take rate: 0.16]]                                                                              |73973714129 |[telecom]                                                                              |e    |0.16 |
|At Pretium Limited          |[[digital goods: books, movies, music], [e], [take rate: 0.17]]                                                  |73205504863 |[digital goods: books, movies, music]                                                  |e    |0.17 |
|Felis Limited               |[[furniture, home furnishings and equipment shops, and manufacturers, except appliances], [e], [take rate: 0.18]]|10023283211 |[furniture, home furnishings and equipment shops, and manufacturers, except appliances]|e    |0.18 |
|Hendrerit Donec Limited     |[[digital goods: books, movies, music], [e], [take rate: 0.18]]                                                  |57079678065 |[digital goods: books, movies, music]                                                  |e    |0.18 |
|Massa PC                    |[[motor vehicle supplies and new parts], [e], [take rate: 0.18]]                                                 |99990536339 |[motor vehicle supplies and new parts]                                                 |e    |0.18 |
|Sed Dictum Eleifend Ltd     |[[equipment, tool, furniture, and appliance rent al  and leasing], [e], [take rate: 0.20]]                       |93230533382 |[equipment, tool, furniture, and appliance rent al  and leasing]                       |e    |0.2  |
|Risus Nulla Institute       |[[bicycle shops - sales and service], [e], [take rate: 0.22]]                                                    |19995295153 |[bicycle shops - sales and service]                                                    |e    |0.22 |
|Nunc Est LLP                |[[watch, clock, and jewelry repair shops], [e], [take rate: 0.22]]                                               |34920839316 |[watch, clock, and jewelry repair shops]                                               |e    |0.22 |
|Nullam Vitae Diam PC        |[[opticians, optical goods, and eyeglasses], [e], [take rate: 0.22]]                                             |55433932875 |[opticians, optical goods, and eyeglasses]                                             |e    |0.22 |
|Turpis Incorporated         |[[gift, card, novelty, and souvenir shops], [e], [take rate: 0.23]]                                              |64196096120 |[gift, card, novelty, and souvenir shops]                                              |e    |0.23 |
|Vitae Sodales Institute     |[[stationery, office supplies and printing and writing paper], [e], [take rate: 0.23]]                           |66952421200 |[stationery, office supplies and printing and writing paper]                           |e    |0.23 |
|Lacinia Orci Associates     |[[digital goods: books, movies, music], [e], [take rate: 0.24]]                                                  |59358011432 |[digital goods: books, movies, music]                                                  |e    |0.24 |
|Dis Parturient Corporation  |[[gift, card, novelty, and souvenir shops], [e], [take rate: 0.24]]                                              |13093581573 |[gift, card, novelty, and souvenir shops]                                              |e    |0.24 |
|Quisque LLC                 |[[health and beauty spas], [e], [take rate: 0.24]]                                                               |96381568282 |[health and beauty spas]                                                               |e    |0.24 |
|Nullam Enim Sed Incorporated|[[tent and awning shops], [e], [take rate: 0.27]]                                                                |78080443264 |[tent and awning shops]                                                                |e    |0.27 |
|Et Pede Inc.                |[[motor vehicle supplies and new parts], [e], [take rate: 0.28]]                                                 |54292545196 |[motor vehicle supplies and new parts]                                                 |e    |0.28 |
+----------------------------+-----------------------------------------------------------------------------------------------------------------+------------+---------------------------------------------------------------------------------------+-----+-----+
only showing top 20 rows

For here, I looked up what is considered a legit ABN number, and this is code that will execute it, but when its done you can see that there is only 5 entries left so I'm not sure if we should leave it in or not.

In [7]:
'''
def valid_abn(abn_number):
    abn_number = str(abn_number)
    
    if len(abn_number) != 11 or not abn_number.isdigit():
        return False 
    
    digits = [int(i) for i in abn_number]
    
    digits[0] -= 1
    
    weights = [10, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
    
    total = sum(d * w for d, w in zip(digits, weights))
    
    return total % 89 == 0

validate_abn_udf = F.udf(valid_abn, BooleanType())
'''

'\ndef valid_abn(abn_number):\n    abn_number = str(abn_number)\n    \n    if len(abn_number) != 11 or not abn_number.isdigit():\n        return False \n    \n    digits = [int(i) for i in abn_number]\n    \n    digits[0] -= 1\n    \n    weights = [10, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19]\n    \n    total = sum(d * w for d, w in zip(digits, weights))\n    \n    return total % 89 == 0\n\nvalidate_abn_udf = F.udf(valid_abn, BooleanType())\n'

In [8]:
'''
test = merchant_fraud.withColumn("valid_abn", validate_abn_udf(merchant_fraud["merchant_abn"]))
test = test.filter(F.col("valid_abn") == True)
test.show()
'''

'\ntest = merchant_fraud.withColumn("valid_abn", validate_abn_udf(merchant_fraud["merchant_abn"]))\ntest = test.filter(F.col("valid_abn") == True)\ntest.show()\n'

In [9]:
if not os.path.exists('../data/curated/'):
    os.makedirs('../data/curated/')
    
if not os.path.exists('../data/curated/'):
    os.makedirs('../data/curated/')

merchant_fraud.write.mode('overwrite').parquet("../data/curated/merchant_fraud")
tbl_consumer.write.mode('overwrite').parquet("../data/curated/tbl_consumer")
tbl_merchants.write.mode('overwrite').parquet("../data/curated/tbl_merchants")

## Joining to one big table.

In [10]:
tbl_consumer = spark.read.parquet("../data/curated/tbl_consumer")
merchant_fraud = spark.read.parquet("../data/curated/merchant_fraud")
consumer_fraud = spark.read.parquet("../data/curated/consumer_fraud")
consumer_details = spark.read.parquet("../data/curated/consumer_details")
tbl_merchants = spark.read.parquet("../data/curated/tbl_merchants")

In [11]:
full_transactions = transactions.join(consumer_details, on="user_id",how="left") \
                   .join(tbl_consumer, on="consumer_id",how="left") \
                   .join(consumer_fraud, on=["user_id", "order_datetime"],how="left") \
                   .join(tbl_merchants, on="merchant_abn",how="left") \
                   .join(merchant_fraud, on=["order_datetime", "merchant_abn"], how="left")

In [12]:
full_transactions.show()

+--------------+------------+-------+-----------+------------------+--------------------+----------------+-----+--------+------+-----------------+--------------------+--------------------+--------------------+-----+-----+--------------------------+
|order_datetime|merchant_abn|user_id|consumer_id|      dollar_value|            order_id|   consumer_name|state|postcode|gender|fraud_probability|       merchant_name|                tags|               tags1|tags2|tags3|merchant_fraud_probability|
+--------------+------------+-------+-----------+------------------+--------------------+----------------+-----+--------+------+-----------------+--------------------+--------------------+--------------------+-----+-----+--------------------------+
|    2021-08-20| 62191208634|  18478|     651338|63.255848959735246|949a63c8-29f7-4ab...|     James Smith|  TAS|    7001|  Male|             NULL|Cursus Non Egesta...|[[furniture, home...|[furniture, home ...|    c| 2.17|                      NULL|
|    2021-08-20| 15549624934|      2|     179208| 130.3505283105634|6a84c3cf-612a-457...|      Mary Smith|  NSW|    2782|Female|             NULL|  Commodo Associates|[[opticians, opti...|[opticians, optic...|    c| 2.76|                      NULL|
|    2021-08-20| 64403598239|  18479|     467663|120.15860593212783|b10dcc33-e53f-425...|  Sandra Schultz|  TAS|    7010|Female|             NULL|Lobortis Ultrices...|[[music shops - m...|[music shops - mu...|    a| 6.31|                      NULL|
|    2021-08-20| 60956456424|      3|    1194530| 136.6785200286976|0f09c5a5-784e-447...|   Jill Jones MD|   NT|     862|Female|             NULL|Ultricies Digniss...|[[gift, card, nov...|[gift, card, nove...|    b| 4.69|                      NULL|
|    2021-08-20| 94493496784|  18479|     467663| 72.96316578355305|f6c78c1a-4600-4c5...|  Sandra Schultz|  TAS|    7010|Female|             NULL|Dictum Phasellus ...|[[gift, card, nov...|[gift, card, nove...|    a| 5.65|                      NULL|
|    2021-08-20| 76819856970|      3|    1194530|  448.529684285612|5ace6a24-cdf0-4aa...|   Jill Jones MD|   NT|     862|Female|             NULL| Egestas Blandit Ltd|[[tent and awning...|[tent and awning ...|    b| 3.19|                      NULL|
|    2021-08-20| 67609108741|  18479|     467663|  86.4040605836911|d0e180f0-cb06-42a...|  Sandra Schultz|  TAS|    7010|Female|             NULL|Metus Sit Amet In...|[[cable, satellit...|[cable, satellite...|    e| 0.38|                      NULL|
|    2021-08-20| 34096466752|      3|    1194530| 301.5793450525113|6fb1ff48-24bb-4f9...|   Jill Jones MD|   NT|     862|Female|             NULL|     Nullam Enim Ltd|[[computers, comp...|[computers, compu...|    b| 3.22|                      NULL|
|    2021-08-20| 70501974849|  18482|     918448| 68.75486276223054|8505fb33-b69a-412...|      Ethan Webb|  NSW|    1430|  Male|             NULL|Facilisis Lorem T...|[[computers, comp...|[computers, compu...|    b|  3.3|                      NULL|
|    2021-08-20| 49891706470|      4|     154128| 48.89796461900801|ed11e477-b09f-4ae...| Lindsay Jimenez|  NSW|    2780|Female|             NULL|Non Vestibulum In...|[[tent and awning...|[tent and awning ...|    a|  5.8|                      NULL|
|    2021-08-20| 46804135891|  18482|     918448|6.6168976971833615|05b5edb5-b925-414...|      Ethan Webb|  NSW|    1430|  Male|             NULL|Suspendisse Dui C...|[[opticians, opti...|[opticians, optic...|    c| 2.93|                      NULL|
|    2021-08-20| 33064796871|      7|     511685| 373.0873675184212|fe188788-b89f-4dd...|    Andrea Jones|  QLD|    4606|Female|             NULL|Curabitur Massa C...|[[computer progra...|[computer program...|    b| 3.75|                      NULL|
|    2021-08-20| 44160392990|  18483|     191119| 83.98473054761176|7c44302d-98b3-48b...| Linda Mccormick|  QLD|    4118|Female|             NULL|Sociis Natoque In...|[[digital goods: ...|[digital goods: b...|    a| 5.97|                      NULL|
|    2021-08-20| 68435002949|      7|     511685| 232.5364986739752|b4a89891-a113-45e...|    Andrea Jones|  QLD|    4606|Female|             NULL|     Aliquam Eu Inc.|[[artist supply a...|[artist supply an...|    a| 6.65|                      NULL|
|    2021-08-20| 70033549200|  18484|     596919| 871.7678061729196|4b1d941a-21a1-43e...|      Jose Jones|  QLD|    4309|  Male|             NULL|       Mus Proin LLP|[[tent and awning...|[tent and awning ...|    b| 4.78|                      NULL|
|    2021-08-20| 41944909975|      7|     511685|30.910755230234322|302ae628-8eba-4a5...|    Andrea Jones|  QLD|    4606|Female|             NULL|  Et Nunc Consulting|[[books, periodic...|[books, periodica...|    e| 0.16|                      NULL|
|    2021-08-20| 41705715409|  18485|    1212819| 309.5417224575787|67f4f98e-3149-4e8...|   Samuel Haynes|  VIC|    3073|  Male|             NULL|        Augue Eu LLP|[[furniture, home...|[furniture, home ...|    a| 6.05|                      NULL|
|    2021-08-20| 29566626791|      8|     448088| 74.15732460440282|71a81652-cc91-4bf...|Stephen Williams|   WA|    6056|  Male|             NULL|                NULL|                NULL|                NULL| NULL| NULL|                      NULL|
|    2021-08-20| 32361057556|  18487|    1165699|119.19055863068847|15577921-1104-470...|      Erin Davis|  NSW|    1004|Female|             NULL|Orci In Consequat...|[[gift, card, nov...|[gift, card, nove...|    a| 6.61|                      NULL|
|    2021-08-20| 47663262928|      9|     650435| 36.69873283148887|c4fcb49a-ce87-4e1...| Stephanie Reyes|  NSW|    2482|Female|             NULL|      Eget Lacus LLP|[[cable, satellit...|[cable, satellite...|    a| 6.66|                      NULL|
+--------------+------------+-------+-----------+------------------+--------------------+----------------+-----+--------+------+-----------------+--------------------+--------------------+--------------------+-----+-----+--------------------------+
only showing top 20 rows

In [13]:
full_transactions.filter(F.col('merchant_name').isNull()).show()

+--------------+------------+-------+-----------+------------------+--------------------+------------------+-----+--------+-----------+-----------------+-------------+----+-----+-----+-----+--------------------------+
|order_datetime|merchant_abn|user_id|consumer_id|      dollar_value|            order_id|     consumer_name|state|postcode|     gender|fraud_probability|merchant_name|tags|tags1|tags2|tags3|merchant_fraud_probability|
+--------------+------------+-------+-----------+------------------+--------------------+------------------+-----+--------+-----------+-----------------+-------------+----+-----+-----+-----+--------------------------+
|    2021-08-20| 29566626791|      8|     448088| 74.15732460440282|71a81652-cc91-4bf...|  Stephen Williams|   WA|    6056|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 32234779638|  18490|    1158069|107.14809429376949|20149572-a55b-41f...|       Sara Holmes|   WA|    6425|     Female|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 67202032418|     20|    1390367| 55.46394975814555|a29071b4-29b3-4f2...|      James Norris|  VIC|    3234|Undisclosed|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 32461318592|     23|     662940| 613.9306657410166|4b2e2154-65d8-44f...|        Cody Scott|   WA|    6849|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 32234779638|     25|     885864| 87.15685629102919|e6763664-e95f-4eb...|Christopher Jordan|   WA|    6107|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 23633724513|     26|    1421465|3459.2423030023524|fee9ead7-9ce2-4a4...|     Kristi Adkins|  VIC|    3469|     Female|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 87921002735|     32|    1211170|1450.5989075026375|9ae8b9fe-34c4-432...|     Karen Stewart|  VIC|    3485|Undisclosed|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 80788167198|     44|     564558|158.88701712957197|360a891b-8271-461...|   Michael Johnson|   SA|    5074|Undisclosed|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 32234779638|  18526|    1467972| 125.0953784625931|720bfb52-fb76-4cc...|    Anthony Herman|   SA|    5303|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 27130058170|     48|     463573|1020.8064117602456|01c016c5-abbb-4bf...|       Sarah Smith|  NSW|    2158|     Female|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 29323795999|     58|     838663|134.39374602616718|f1f5f6fe-6b92-4b9...|    Adam Velazquez|  NSW|    2403|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 67202032418|  18552|    1295545| 275.1791373600999|02a4308c-4a49-40b...|        Terri Howe|  VIC|    3833|     Female|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 87802246756|     76|    1318148| 54.08449721878287|e374d6fb-7a06-45a...| Tyler Fitzpatrick|  VIC|    3551|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 29566626791|     77|     577363| 48.53264869718864|1f5b59f6-77f3-460...|  Francisco Harmon|   WA|    6603|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 67202032418|     78|     316477| 344.9909397642447|04652ffd-79ff-414...|        Lee Fuller|   WA|    6282|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 79953723663|     98|    1401736| 70.72951839995908|056d6fab-752f-404...|      Shannon Wise|  NSW|    2832|     Female|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 56180588880|    112|     892053| 1810.952354187923|474888e4-351f-4b7...|      Carrie White|   SA|    5263|     Female|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 29323795999|  18616|     682419|16.267692547515654|fbf74564-1fd4-433...|       Brett Woods|  VIC|    3938|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 32234779638|    147|    1028770| 192.1781956472948|773cde37-a01e-42f...|   Eileen Sandoval|   SA|    5085|     Female|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
|    2021-08-20| 20562405782|    149|    1150639|175.84255848580304|e1ecc7b5-8eda-446...|      Austin Cowan|  NSW|    1046|       Male|             NULL|         NULL|NULL| NULL| NULL| NULL|                      NULL|
+--------------+------------+-------+-----------+------------------+--------------------+------------------+-----+--------+-----------+-----------------+-------------+----+-----+-----+-----+--------------------------+
only showing top 20 rows

In [14]:
full_transactions.write.mode('overwrite').parquet("../data/curated/full_transaction")