# Preprocessing Consumer Data

This Notebook Preprocesses The Consumer Data

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import re
import glob
import math
import matplotlib.pyplot as plt
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, LongType, IntegerType, DateType
from datetime import datetime, timedelta

In [2]:
spark = (
    SparkSession.builder.appName('Consumer Data Preprocess')
    .config("spark.sql.repl.eagerEval.enabled", True)
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
24/10/13 21:52:57 WARN Utils: Your hostname, DESKTOP-F216TKE resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/10/13 21:52:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/13 21:52:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/13 21:52:58 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/10/13 21:52:58 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [6]:
tbl_consumer =  spark.read.option("header", True).option("delimiter", "|").csv(".././data/tables/tbl_consumer.csv")

In [7]:
tbl_consumer.show()

+-----------------+--------------------+-----+--------+-----------+-----------+
|             name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

Since Address is not valid it has been dropped

In [8]:
tbl_consumer = tbl_consumer.drop("address")

In [9]:
tbl_consumer.count()

499999

In [10]:
print(tbl_consumer.select("state").distinct())
print(tbl_consumer.select("gender").distinct())

+-----+
|state|
+-----+
|   NT|
|  ACT|
|   SA|
|  TAS|
|   WA|
|  QLD|
|  VIC|
|  NSW|
+-----+

+-----------+
|     gender|
+-----------+
|Undisclosed|
|     Female|
|       Male|
+-----------+

In [11]:
tbl_consumer = tbl_consumer.filter(F.col("state").isin(["NSW", "WA", "NT", "VIC", "TAS", "QLD", "SA",   "ACT"]))

In [12]:
tbl_consumer = tbl_consumer.filter(F.col("gender").isin(["Female", "Male", "Undisclosed"]))

In [13]:
tbl_consumer.printSchema()

root
 |-- name: string (nullable = true)
 |-- state: string (nullable = true)
 |-- postcode: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- consumer_id: string (nullable = true)

Check if all postcodes are valid

In [14]:
tbl_consumer.filter(
    ((F.col("postcode") >= 1000) & (F.col("postcode") <= 1999)) |  
    ((F.col("postcode") >= 2000) & (F.col("postcode") <= 2599)) |
    ((F.col("postcode") >= 2619) & (F.col("postcode") <= 2899)) |
    ((F.col("postcode") >= 2921) & (F.col("postcode") <= 2999)) |
    ((F.col("postcode") >= 200) & (F.col("postcode") <= 299)) |  
    ((F.col("postcode") >= 2600) & (F.col("postcode") <= 2618)) |
    ((F.col("postcode") >= 2900) & (F.col("postcode") <= 2920)) |
    ((F.col("postcode") >= 3000) & (F.col("postcode") <= 3999)) |
    ((F.col("postcode") >= 8000) & (F.col("postcode") <= 8999)) |  
    ((F.col("postcode") >= 4000) & (F.col("postcode") <= 4999)) |
    ((F.col("postcode") >= 9000) & (F.col("postcode") <= 9999)) |  
    ((F.col("postcode") >= 5000) & (F.col("postcode") <= 5799)) |
    ((F.col("postcode") >= 5800) & (F.col("postcode") <= 5999)) |  
    ((F.col("postcode") >= 6000) & (F.col("postcode") <= 6797)) |
    ((F.col("postcode") >= 6800) & (F.col("postcode") <= 6999)) |  
    ((F.col("postcode") >= 7000) & (F.col("postcode") <= 7799)) |
    ((F.col("postcode") >= 7800) & (F.col("postcode") <= 7999)) |  
    ((F.col("postcode") >= 800) & (F.col("postcode") <= 899)) |
    ((F.col("postcode") >= 900) & (F.col("postcode") <= 999))
).count()

499690

In [15]:
sdf = tbl_consumer.filter(
    ((F.col("postcode") >= 1000) & (F.col("postcode") <= 1999)) |  
    ((F.col("postcode") >= 2000) & (F.col("postcode") <= 2599)) |
    ((F.col("postcode") >= 2619) & (F.col("postcode") <= 2899)) |
    ((F.col("postcode") >= 2921) & (F.col("postcode") <= 2999)) |
    ((F.col("postcode") >= 200) & (F.col("postcode") <= 299)) |  
    ((F.col("postcode") >= 2600) & (F.col("postcode") <= 2618)) |
    ((F.col("postcode") >= 2900) & (F.col("postcode") <= 2920)) |
    ((F.col("postcode") >= 3000) & (F.col("postcode") <= 3999)) |
    ((F.col("postcode") >= 8000) & (F.col("postcode") <= 8999)) |  
    ((F.col("postcode") >= 4000) & (F.col("postcode") <= 4999)) |
    ((F.col("postcode") >= 9000) & (F.col("postcode") <= 9999)) |  
    ((F.col("postcode") >= 5000) & (F.col("postcode") <= 5799)) |
    ((F.col("postcode") >= 5800) & (F.col("postcode") <= 5999)) |  
    ((F.col("postcode") >= 6000) & (F.col("postcode") <= 6797)) |
    ((F.col("postcode") >= 6800) & (F.col("postcode") <= 6999)) |  
    ((F.col("postcode") >= 7000) & (F.col("postcode") <= 7799)) |
    ((F.col("postcode") >= 7800) & (F.col("postcode") <= 7999)) |  
    ((F.col("postcode") >= 800) & (F.col("postcode") <= 899)) |
    ((F.col("postcode") >= 900) & (F.col("postcode") <= 999))
)

In [16]:
sdf.count()

499690

In [17]:
tbl_consumer.subtract(sdf)

+-----------------+-----+--------+-----------+-----------+
|             name|state|postcode|     gender|consumer_id|
+-----------------+-----+--------+-----------+-----------+
|      Holly Patel|   WA|    6798|     Female|     526854|
|Michelle Morrison|   WA|    6799|     Female|     680827|
|  Sarah Underwood|   WA|    6798|     Female|     906266|
| Clifford Roberts|   WA|    6799|       Male|    1191458|
|      Heidi Brown|   WA|    6798|     Female|      76750|
|    Jorge Bennett|   WA|    6798|       Male|      81388|
|    Samuel Porter|   WA|    6799|Undisclosed|     655248|
|       Jason Lane|   WA|    6799|       Male|     911214|
|     David Keller|   WA|    6798|       Male|    1267439|
|   Jennifer Lopez|   WA|    6798|     Female|     546210|
|         Jay Berg|   WA|    6799|       Male|    1459361|
|   Anthony Powell|   WA|    6798|       Male|    1058206|
| April Williamson|   WA|    6798|     Female|     524130|
|       Lori Quinn|   WA|    6798|     Female|     575478|
|     Donna Miller|   WA|    6799|     Female|     951617|
|     Kristin Lane|   WA|    6798|     Female|     701397|
| Catherine Cortez|   WA|    6799|     Female|     807196|
|    Janice Wilson|   WA|    6798|     Female|       4159|
|     Marvin Price|   WA|    6798|       Male|     474426|
|       Jake Scott|   WA|    6799|       Male|      29069|
+-----------------+-----+--------+-----------+-----------+
only showing top 20 rows

All postcodes are considered valid ; even those for sparesely populated islands

In [18]:
tbl_consumer = tbl_consumer.withColumn("postcode", tbl_consumer["postcode"].cast(IntegerType()))

In [19]:
print("Number of unique consumer_id: "+str(tbl_consumer.select("consumer_id").distinct().count()))
print("Number of counts after preprocessing: " + str(tbl_consumer.count()))
tbl_consumer = tbl_consumer.withColumnRenamed("name","consumer_name")

Number of unique consumer_id: 499999
Number of counts after preprocessing: 499999

In [20]:
tbl_consumer.show()

+-----------------+-----+--------+-----------+-----------+
|    consumer_name|state|postcode|     gender|consumer_id|
+-----------------+-----+--------+-----------+-----------+
| Yolanda Williams|   WA|    6935|     Female|    1195503|
|       Mary Smith|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|   WA|    6355|     Female|     712975|
|    Karen Chapman|  NSW|    2033|     Female|     407340|
|     Andrea Jones|  QLD|    4606|     Female|     511685|
| Stephen Williams|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|  QLD|    4673|     Female|    1146717|
|     Lance Butler|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|  TAS|    7276|     Female|    1226530|
|     James Norris|  VIC|    3234|Undisclosed|    1390367|
+-----------------+-----+--------+-----------+-----------+
only showing top 20 rows

In [21]:
tbl_consumer.filter(F.isnull('consumer_name')).count()

0

In [22]:
tbl_consumer.filter(F.isnull('gender')).count()

0

In [23]:
tbl_consumer.filter(F.isnull('postcode')).count()

0

In [24]:
tbl_consumer.filter(F.isnull('consumer_id')).count()

0

In [25]:
tbl_consumer.filter(F.isnull('state')).count()

0

Consumer Details Dataframe Preprocess

In [26]:
consumer_details = spark.read.parquet(".././data/tables/consumer_user_details.parquet")
consumer_details.show()

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [27]:
consumer_details.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- consumer_id: long (nullable = true)

Change user_id and consumer_id to string type

In [28]:
consumer_details = consumer_details.withColumn('user_id', F.col('user_id').cast('string'))
consumer_details = consumer_details.withColumn('consumer_id', F.col('consumer_id').cast('string'))

In [29]:
consumer_details.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- consumer_id: string (nullable = true)

In [30]:
consumer_details.show(1, vertical=True, truncate=False)

-RECORD 0--------------
 user_id     | 1
 consumer_id | 1195503
only showing top 1 row

Look for Dupilcate Values

In [31]:
consumer_details.count()

499999

In [32]:
#consumer_details.dropDuplicates().count()
consumer_details.select('user_id').distinct().count()

499999

In [33]:
consumer_details.select('consumer_id').distinct().count()

499999

No duplicate values have been found

Check for Missing Values

In [34]:
consumer_details.filter(F.isnull('consumer_id')).count()

0

In [35]:
consumer_details.filter(F.isnan('consumer_id')).count()

0

In [36]:
consumer_details.filter(F.isnull('user_id')).count()

0

In [37]:
consumer_details.filter(F.isnan('user_id')).count()

0

In [38]:
consumer_details.write.mode('overwrite').parquet('.././data/curated/consumer_details')

In [39]:
consumer_fraud = spark.read.option("header", True).csv(".././data/tables/consumer_fraud_probability.csv")
consumer_fraud.show()

+-------+--------------+-----------------+
|user_id|order_datetime|fraud_probability|
+-------+--------------+-----------------+
|   6228|    2021-12-19| 97.6298077657765|
|  21419|    2021-12-10|99.24738020302328|
|   5606|    2021-10-17|84.05825045251777|
|   3101|    2021-04-17|91.42192091901347|
|  22239|    2021-10-19|94.70342477508035|
|  16556|    2022-02-20|89.65663294494827|
|  10278|    2021-09-28|83.59136689427714|
|  15790|    2021-12-30|71.77065889280253|
|   5233|    2021-08-29|85.87123303878818|
|    230|    2021-08-28|86.28328808934151|
|  13601|    2021-12-26|83.13696487489679|
|   6383|    2021-09-15| 66.2676451623754|
|   3513|    2022-02-27|75.16981192247916|
|  18658|    2021-10-19|82.98609082999361|
|   5965|    2021-11-14|69.37164467869053|
|  18714|    2021-11-14|83.78813794627237|
|  22957|    2022-02-12|82.79065699075498|
|  20118|    2021-09-05|80.34030486265003|
|   6436|    2021-12-24|84.81618344606828|
|  17900|    2022-02-25|92.73262811161372|
+-------+--------------+-----------------+
only showing top 20 rows

In [40]:
consumer_fraud.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- order_datetime: string (nullable = true)
 |-- fraud_probability: string (nullable = true)

In [41]:
consumer_fraud = consumer_fraud.withColumn('order_datetime', F.col('order_datetime').cast(DateType()))

In [42]:
consumer_fraud = consumer_fraud.withColumn('fraud_probability', F.col('fraud_probability').cast('double'))

In [43]:
consumer_fraud.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)
 |-- fraud_probability: double (nullable = true)

Check the range for fraude probability

In [44]:
consumer_fraud.filter(F.col('fraud_probability') < 0).count()

0

In [45]:
consumer_fraud.filter(F.col('fraud_probability') > 100).count()

0

The ranges of fraud probability lies in the correct range

Ensure all user_id's are properly referenced

In [46]:
userids = consumer_fraud.select(F.col('user_id')).distinct()

In [47]:
userids = userids.toPandas()

In [48]:

userids = userids['user_id'].tolist()

In [49]:
userids

['7252',
 '1512',
 '14157',
 '2294',
 '9586',
 '21248',
 '17401',
 '16250',
 '2904',
 '22596',
 '9009',
 '21783',
 '18574',
 '18306',
 '15634',
 '18556',
 '21452',
 '19095',
 '22254',
 '14887',
 '22121',
 '1159',
 '6240',
 '20868',
 '6194',
 '22728',
 '21331',
 '18726',
 '21889',
 '16320',
 '3606',
 '829',
 '14838',
 '18509',
 '21249',
 '7762',
 '9583',
 '2069',
 '20158',
 '14204',
 '2088',
 '15271',
 '17686',
 '8304',
 '21259',
 '18947',
 '5645',
 '21894',
 '17427',
 '4937',
 '296',
 '14899',
 '14369',
 '12529',
 '23918',
 '3210',
 '675',
 '13192',
 '17714',
 '23843',
 '5325',
 '10436',
 '1572',
 '23097',
 '15555',
 '4821',
 '20512',
 '4032',
 '9993',
 '2162',
 '19338',
 '467',
 '3959',
 '12847',
 '11563',
 '11888',
 '10096',
 '18992',
 '11078',
 '15269',
 '1090',
 '7273',
 '6731',
 '6613',
 '11722',
 '9030',
 '23459',
 '691',
 '10351',
 '2136',
 '18634',
 '13282',
 '20219',
 '23318',
 '20428',
 '5925',
 '853',
 '14879',
 '23479',
 '5067',
 '19289',
 '3015',
 '6558',
 '16549',
 '11313',
 '21515',
 '4894',
 '21645',
 '3650',
 '15539',
 '8092',
 '13985',
 '17910',
 '21534',
 '17757',
 '9830',
 '7655',
 '10272',
 '2110',
 '12888',
 '7743',
 '12542',
 '21453',
 '125',
 '10338',
 '9003',
 '14218',
 '24078',
 '3858',
 '20959',
 '21535',
 '19665',
 '9630',
 '5149',
 '11247',
 '18429',
 '4838',
 '9407',
 '12637',
 '3826',
 '19582',
 '8386',
 '1669',
 '9308',
 '17866',
 '1394',
 '2464',
 '23514',
 '22542',
 '7994',
 '20256',
 '14974',
 '1372',
 '16639',
 '8965',
 '7650',
 '15947',
 '19989',
 '5523',
 '11236',
 '20141',
 '3368',
 '5657',
 '17835',
 '9569',
 '3517',
 '6366',
 '10603',
 '22436',
 '23113',
 '20252',
 '19990',
 '17551',
 '23592',
 '21711',
 '22130',
 '7328',
 '944',
 '6248',
 '15448',
 '18386',
 '22314',
 '10250',
 '18283',
 '2898',
 '22629',
 '14552',
 '19817',
 '1265',
 '5316',
 '23382',
 '1808',
 '11687',
 '21016',
 '13170',
 '7208',
 '1361',
 '14455',
 '16027',
 '10133',
 '15041',
 '23054',
 '17901',
 '870',
 '919',
 '6848',
 '13866',
 '1870',
 '3526',
 '17438',
 '18570',
 '23889',
 '7784',
 '7248',
 '7487',
 '12104',
 '16340',
 '6900',
 '19404',
 '17260',
 '12204',
 '2700',
 '17275',
 '20546',
 '13395',
 '7418',
 '18276',
 '12003',
 '16303',
 '6903',
 '5757',
 '4127',
 '13660',
 '11106',
 '19051',
 '5044',
 '2917',
 '18462',
 '15273',
 '8832',
 '11351',
 '23462',
 '10801',
 '18921',
 '17024',
 '10784',
 '17256',
 '19390',
 '23949',
 '1241',
 '23236',
 '18683',
 '19822',
 '7263',
 '12750',
 '1280',
 '15478',
 '11251',
 '7378',
 '3836',
 '23645',
 '20293',
 '5913',
 '2725',
 '19882',
 '12811',
 '6081',
 '17839',
 '16619',
 '7301',
 '5181',
 '3200',
 '23666',
 '13460',
 '22529',
 '23595',
 '20626',
 '16413',
 '17741',
 '10114',
 '23565',
 '13041',
 '21456',
 '2530',
 '14000',
 '10730',
 '12164',
 '18714',
 '21833',
 '447',
 '20244',
 '3266',
 '14392',
 '16683',
 '2550',
 '2034',
 '10616',
 '20143',
 '2930',
 '1953',
 '9835',
 '6768',
 '2888',
 '6143',
 '22431',
 '591',
 '17947',
 '12957',
 '21690',
 '14340',
 '4236',
 '6732',
 '11711',
 '20280',
 '5082',
 '10993',
 '2895',
 '18564',
 '4249',
 '16267',
 '17128',
 '8409',
 '13805',
 '51',
 '22154',
 '1903',
 '9858',
 '6380',
 '22335',
 '14940',
 '5234',
 '7616',
 '22893',
 '17715',
 '3249',
 '20075',
 '3121',
 '6252',
 '12067',
 '4665',
 '8153',
 '5057',
 '12816',
 '15176',
 '19239',
 '16946',
 '5297',
 '7249',
 '6850',
 '4583',
 '21683',
 '1528',
 '9622',
 '20899',
 '14313',
 '4988',
 '23834',
 '5320',
 '12710',
 '14697',
 '124',
 '17718',
 '9196',
 '6820',
 '6106',
 '3652',
 '14963',
 '11902',
 '16253',
 '17886',
 '8258',
 '13027',
 '4276',
 '13133',
 '22077',
 '7054',
 '12223',
 '17660',
 '9544',
 '14649',
 '6227',
 '11878',
 '13025',
 '21556',
 '22107',
 '3312',
 '21086',
 '15433',
 '18637',
 '8145',
 '15277',
 '22920',
 '14839',
 '11177',
 '22415',
 '23535',
 '15829',
 '3057',
 '23959',
 '18106',
 '14654',
 '10872',
 '1695',
 '16654',
 '15446',
 '22919',
 '17491',
 '18750',
 '11002',
 '3902',
 '16133',
 '13180',
 '8279',
 '5450',
 '20723',
 '18768',
 '22043',
 '6758',
 '8701',
 '17099',
 '13700',
 '613',
 '18905',
 '307',
 '22922',
 '574',
 '18012',
 '10805',
 '17583',
 '13655',
 '10417',
 '4262',
 '3895',
 '13337',
 '15553',
 '7013',
 '20183',
 '12860',
 '16273',
 '9109',
 '20881',
 '10668',
 '1500',
 '13429',
 '11137',
 '3898',
 '21117',
 '8502',
 '13906',
 '11847',
 '22652',
 '17274',
 '5986',
 '10195',
 '7541',
 '15515',
 '17375',
 '10481',
 '16798',
 '1445',
 '20856',
 '20098',
 '18925',
 '9686',
 '9911',
 '14861',
 '11992',
 '11795',
 '4594',
 '8179',
 '1773',
 '17481',
 '9043',
 '1897',
 '3491',
 '11218',
 '475',
 '18339',
 '1957',
 '7544',
 '6348',
 '6402',
 '2161',
 '13276',
 '15488',
 '7574',
 '21611',
 '7014',
 '23947',
 '17917',
 '6464',
 '3993',
 '21714',
 '8744',
 '7093',
 '20592',
 '7316',
 '20435',
 '7402',
 '740',
 '7746',
 '14361',
 '14116',
 '14244',
 '8183',
 '6949',
 '2808',
 '23328',
 '16622',
 '17855',
 '334',
 '21748',
 '22895',
 '205',
 '3299',
 '6217',
 '4818',
 '8691',
 '4672',
 '577',
 '23468',
 '14443',
 '16031',
 '5071',
 '12789',
 '22049',
 '18613',
 '5434',
 '1706',
 '5085',
 '5543',
 '14986',
 '6687',
 '581',
 '19568',
 '12508',
 '3786',
 '2129',
 '169',
 '4690',
 '9296',
 '1425',
 '10452',
 '14267',
 '7829',
 '20714',
 '3553',
 '6278',
 '21584',
 '3241',
 '9417',
 '17570',
 '2477',
 '21498',
 '22508',
 '19877',
 '3179',
 '9314',
 '2915',
 '19985',
 '22875',
 '11510',
 '544',
 '1043',
 '12024',
 '14353',
 '18991',
 '17100',
 '15343',
 '14432',
 '12386',
 '1880',
 '6264',
 '18161',
 '2644',
 '23171',
 '12043',
 '9980',
 '3848',
 '4465',
 '4782',
 '14164',
 '18533',
 '7364',
 '23250',
 '13571',
 '8680',
 '5291',
 '16131',
 '17507',
 '1987',
 '15107',
 '19353',
 '23728',
 '11463',
 '6605',
 '2402',
 '15103',
 '6209',
 '12531',
 '13851',
 '22800',
 '21951',
 '11592',
 '975',
 '462',
 '14114',
 '1418',
 '11929',
 '2948',
 '10487',
 '23928',
 '17946',
 '8370',
 '19225',
 '14701',
 '1104',
 '9067',
 '4333',
 '1349',
 '7689',
 '20372',
 '18746',
 '11965',
 '2249',
 '4934',
 '13406',
 '2200',
 '19360',
 '14618',
 '3408',
 '23749',
 '13030',
 '13051',
 '13352',
 '3250',
 '13451',
 '7015',
 '8699',
 '19717',
 '711',
 '14896',
 '9440',
 '10856',
 '15114',
 '23895',
 '4078',
 '7353',
 '18454',
 '2718',
 '17211',
 '9024',
 '22022',
 '4685',
 '15845',
 '23934',
 '23245',
 '21484',
 '3641',
 '13929',
 '470',
 '11600',
 '15203',
 '9361',
 '7121',
 '5104',
 '4315',
 '17348',
 '4408',
 '8824',
 '3365',
 '272',
 '9654',
 '7685',
 '12643',
 '18223',
 '15409',
 '12138',
 '5321',
 '5498',
 '19269',
 '22543',
 '13512',
 '17033',
 '24071',
 '2980',
 '20096',
 '11058',
 '14991',
 '2964',
 '11578',
 '12437',
 '6958',
 '20058',
 '10260',
 '10365',
 '6212',
 '6883',
 '11966',
 '21745',
 '18423',
 '9656',
 '647',
 '20433',
 '21247',
 '1485',
 '2531',
 '15972',
 '20387',
 '10512',
 '16085',
 '22014',
 '5855',
 '16510',
 '4789',
 '3280',
 '6612',
 '5079',
 '8483',
 '11863',
 '21181',
 '2729',
 '23111',
 '22482',
 '1765',
 '2144',
 '16194',
 '20020',
 '4415',
 '18504',
 '1435',
 '13889',
 '5170',
 '15412',
 '383',
 '8931',
 '6069',
 '2341',
 '1305',
 '23831',
 '232',
 '1686',
 '3953',
 '21107',
 '14659',
 '19249',
 '14331',
 '23930',
 '13636',
 '19442',
 '12880',
 '15',
 '19085',
 '282',
 '10484',
 '1008',
 '2605',
 '19866',
 '20064',
 '12215',
 '3089',
 '11150',
 '10346',
 '16251',
 '24035',
 '18577',
 '11945',
 '12081',
 '15868',
 '14613',
 '20232',
 '12937',
 '7256',
 '5306',
 '3819',
 '16980',
 '13116',
 '10563',
 '7434',
 '14958',
 '448',
 '8682',
 '16597',
 '23371',
 '6333',
 '54',
 '10228',
 '10676',
 '20776',
 '4856',
 '9441',
 '14672',
 '23112',
 '13065',
 '5412',
 '19005',
 '3661',
 '21021',
 '18913',
 '13520',
 '12881',
 '21408',
 '17294',
 '21159',
 '15100',
 '10407',
 '16255',
 '10557',
 '7953',
 '6091',
 '12498',
 '22633',
 '2720',
 '16668',
 '13328',
 '18312',
 '700',
 '19896',
 '18619',
 '12680',
 '3454',
 '21221',
 '14232',
 '17303',
 '1487',
 '9016',
 '5859',
 '19358',
 '5041',
 '22375',
 '18808',
 '12763',
 '13563',
 '15348',
 '10687',
 '4205',
 '155',
 '1207',
 '4730',
 '8424',
 '23496',
 '19170',
 '4066',
 '10169',
 '22698',
 '19777',
 '23080',
 '6952',
 '8173',
 '20349',
 '8089',
 '11749',
 '20675',
 '2988',
 '12420',
 '3863',
 '15874',
 '18607',
 '1791',
 '17067',
 '886',
 '18258',
 '5799',
 '5179',
 '12850',
 '12296',
 '7791',
 '483',
 '5497',
 '2436',
 '13687',
 '1936',
 '11588',
 '23679',
 '635',
 '23969',
 '21283',
 '862',
 '9618',
 '5352',
 '3145',
 '11537',
 '20243',
 '8547',
 '8432',
 '3996',
 '8229',
 '17179',
 '19250',
 '1412',
 '18715',
 '18936',
 '1304',
 '10433',
 '14460',
 '20294',
 '6609',
 '19857',
 '11048',
 '5096',
 '17623',
 '19811',
 '21646',
 '15801',
 '9472',
 '18669',
 '2415',
 '12408',
 '12192',
 '10891',
 '10628',
 '23821',
 '6875',
 '6423',
 '2016',
 '1158',
 '2812',
 '17160',
 '15014',
 '13126',
 '19916',
 '11393',
 '17014',
 '11428',
 '12195',
 '11245',
 '11376',
 '1496',
 '13367',
 '22923',
 '8975',
 '18059',
 '5965',
 '19869',
 '12838',
 '3740',
 '3781',
 '18539',
 '21430',
 '12778',
 '23065',
 '18111',
 '15899',
 '21401',
 '16735',
 '21612',
 '17423',
 '21045',
 '3808',
 '7621',
 '6388',
 '5829',
 '4403',
 '714',
 '6300',
 '22249',
 '6019',
 '5802',
 '317',
 '4884',
 '23819',
 '11718',
 '22821',
 '5656',
 '10088',
 '11237',
 '727',
 '20764',
 '6460',
 '3490',
 '15331',
 '22434',
 '14872',
 '10710',
 '22526',
 '14387',
 '9201',
 '16561',
 '3967',
 '6121',
 '4369',
 '7625',
 '5732',
 '7521',
 '19844',
 '9687',
 '23486',
 '154',
 '23383',
 '8421',
 '11280',
 '13735',
 '4165',
 '3140',
 '3711',
 '8714',
 '20722',
 '15492',
 '16705',
 '19214',
 ...]

In [50]:
detailsuserid = consumer_details.select(F.col('user_id')).distinct()
detailsuserid = detailsuserid.toPandas()
detailsuserid = detailsuserid['user_id'].tolist()

In [51]:
print(len(set(userids).difference(detailsuserid)))

0

In [52]:
consumersusers = tbl_consumer.select(F.col('consumer_id')).distinct()
consumersusers = consumersusers.toPandas()
consumersusers = consumersusers['consumer_id'].tolist()

In [53]:
detailsconid = consumer_details.select(F.col('consumer_id')).distinct()
detailsconid = detailsconid.toPandas()
detailsconid = detailsconid['consumer_id'].tolist()

In [54]:
print(len(set(detailsconid).difference(consumersusers)))

0

In [55]:
consumer_details.write.mode('overwrite').parquet('.././data/curated/consumer_details')

In [56]:
tbl_consumer.write.mode('overwrite').parquet('.././data/curated/tbl_consumer')

In [57]:
tbl_consumer.filter(F.col('consumer_id') == '1058206').show()

+--------------+-----+--------+------+-----------+
| consumer_name|state|postcode|gender|consumer_id|
+--------------+-----+--------+------+-----------+
|Anthony Powell|   WA|    6798|  Male|    1058206|
+--------------+-----+--------+------+-----------+

In [58]:
consumer_details.show()

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [59]:
consumer_details.filter(F.col('consumer_id') == '546210').show()

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|   1681|     546210|
+-------+-----------+

There are no additional user_id's that have not been referenced

In [60]:
consumer_fraud.write.mode('overwrite').parquet('.././data/curated/consumer_fraud')