In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import re
import glob
import math
import matplotlib.pyplot as plt
from pyspark.sql import SparkSession
import pyspark.pandas as ps
import pyspark.sql.functions as F
from pyspark.sql.types import *
from datetime import datetime, timedelta
from collections import defaultdict
from multiprocessing import Manager

spark = SparkSession.builder \
    .master('local[*]') \
    .config("spark.driver.memory", "7g") \
    .config("spark.executor.memory", "8g") \
    .config("spark.jars.packages", "com.crealytics:spark-excel_2.12:0.13.5") \
    .config("spark.serializer", "org.apache.spark.serializer.KryoSerializer") \
    .appName('exploration') \
    .getOrCreate()
# spark.conf.set("spark.sql.session.timeZone", "America/New_York")

/Users/alanlu/Library/CloudStorage/OneDrive-TheUniversityofMelbourne/documents/2024/MAST30034/proj2/project-2-group-buy-now-pay-later-industry-project-30/.venv/lib/python3.11/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(
24/09/05 14:07:15 WARN Utils: Your hostname, Alans-MacBook-Air-4.local resolves to a loopback address: 127.0.0.1; using 10.12.103.235 instead (on interface en0)
24/09/05 14:07:15 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

:: loading settings :: url = jar:file:/Users/alanlu/Library/CloudStorage/OneDrive-TheUniversityofMelbourne/documents/2024/MAST30034/proj2/project-2-group-buy-now-pay-later-industry-project-30/.venv/lib/python3.11/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/alanlu/.ivy2/cache
The jars for the packages stored in: /Users/alanlu/.ivy2/jars
com.crealytics#spark-excel_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9849ad2a-4307-4861-a039-c71ce80028a0;1.0
	confs: [default]
	found com.crealytics#spark-excel_2.12;0.13.5 in central
	found org.apache.poi#poi;4.1.2 in central
	found commons-codec#commons-codec;1.13 in central
	found org.apache.commons#commons-collections4;4.4 in central
	found org.apache.commons#commons-math3;3.6.1 in central
	found com.zaxxer#SparseBitSet;1.2 in central
	found org.apache.poi#poi-ooxml;4.1.2 in central
	found org.apache.poi#poi-ooxml-schemas;4.1.2 in central
	found org.apache.xmlbeans#xmlbeans;3.1.0 in central
	found com.github.virtuald#curvesapi;1.06 in central
	found com.norbitltd#spoiwo_2.12;1.7.0 in central
	found org.scala-lang.modules#scala-xml_2.12;1.2.0 in central
	found com.github.pjfanning#excel-streaming-reader;2.3.4 in central
	found com.github.pjfanning#poi-shared-strings;1.0.4 in central
	found com.h2database#h2;1.4.200 in central
	found org.apache.commons#commons-text;1.8 in central
	found org.apache.commons#commons-lang3;3.9 in central
	found xml-apis#xml-apis;1.4.01 in central
	found org.slf4j#slf4j-api;1.7.30 in central
	found org.apache.commons#commons-compress;1.20 in central
	found com.fasterxml.jackson.core#jackson-core;2.8.8 in central
:: resolution report :: resolve 1140ms :: artifacts dl 38ms
	:: modules in use:
	com.crealytics#spark-excel_2.12;0.13.5 from central in [default]
	com.fasterxml.jackson.core#jackson-core;2.8.8 from central in [default]
	com.github.pjfanning#excel-streaming-reader;2.3.4 from central in [default]
	com.github.pjfanning#poi-shared-strings;1.0.4 from central in [default]
	com.github.virtuald#curvesapi;1.06 from central in [default]
	com.h2database#h2;1.4.200 from central in [default]
	com.norbitltd#spoiwo_2.12;1.7.0 from central in [default]
	com.zaxxer#SparseBitSet;1.2 from central in [default]
	commons-codec#commons-codec;1.13 from central in [default]
	org.apache.commons#commons-collections4;4.4 from central in [default]
	org.apache.commons#commons-compress;1.20 from central in [default]
	org.apache.commons#commons-lang3;3.9 from central in [default]
	org.apache.commons#commons-math3;3.6.1 from central in [default]
	org.apache.commons#commons-text;1.8 from central in [default]
	org.apache.poi#poi;4.1.2 from central in [default]
	org.apache.poi#poi-ooxml;4.1.2 from central in [default]
	org.apache.poi#poi-ooxml-schemas;4.1.2 from central in [default]
	org.apache.xmlbeans#xmlbeans;3.1.0 from central in [default]
	org.scala-lang.modules#scala-xml_2.12;1.2.0 from central in [default]
	org.slf4j#slf4j-api;1.7.30 from central in [default]
	xml-apis#xml-apis;1.4.01 from central in [default]
	:: evicted modules:
	org.apache.commons#commons-compress;1.19 by [org.apache.commons#commons-compress;1.20] in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   22  |   0   |   0   |   1   ||   21  |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9849ad2a-4307-4861-a039-c71ce80028a0
	confs: [default]
	0 artifacts copied, 21 already retrieved (0kB/35ms)
24/09/05 14:07:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [10]:
transactions1 = spark.read.parquet("../data/transactions/transactions_20210228_20210827_snapshot")
transactions2 = spark.read.parquet("../data/transactions/transactions_20210828_20220227_snapshot")
transactions3 = spark.read.parquet("../data/transactions/transactions_20220228_20220828_snapshot")

transactions = transactions1.union(transactions2).union(transactions3)
# transactions = transactions.where(F.col("merchant_abn") == 62191208634)
transactions.show(truncate=False)
transactions.summary().show(truncate=False)

+-------+------------+------------------+------------------------------------+--------------+
|user_id|merchant_abn|dollar_value      |order_id                            |order_datetime|
+-------+------------+------------------+------------------------------------+--------------+
|18478  |62191208634 |63.255848959735246|949a63c8-29f7-4ab0-ada4-99ac50a88952|2021-08-20    |
|2      |15549624934 |130.3505283105634 |6a84c3cf-612a-4574-835b-144a47353eff|2021-08-20    |
|18479  |64403598239 |120.15860593212783|b10dcc33-e53f-4254-863c-de5266810cbc|2021-08-20    |
|3      |60956456424 |136.6785200286976 |0f09c5a5-784e-4477-b049-8ee4dd069b7b|2021-08-20    |
|18479  |94493496784 |72.96316578355305 |f6c78c1a-4600-4c5f-8e97-6e9eb534b586|2021-08-20    |
|3      |76819856970 |448.529684285612  |5ace6a24-cdf0-4aa3-b571-1d9406b352b5|2021-08-20    |
|18479  |67609108741 |86.4040605836911  |d0e180f0-cb06-42a3-bd1a-c47dca15bc55|2021-08-20    |
|3      |34096466752 |301.5793450525113 |6fb1ff48-24bb-4f97-9a96-d2e8ca009bda|2021-08-20    |
|18482  |70501974849 |68.75486276223054 |8505fb33-b69a-412a-a8e1-827983a66577|2021-08-20    |
|4      |49891706470 |48.89796461900801 |ed11e477-b09f-4ae0-84fb-74531ce8c30c|2021-08-20    |
|18482  |46804135891 |6.6168976971833615|05b5edb5-b925-414d-92da-ae71d3b9625e|2021-08-20    |
|7      |33064796871 |373.0873675184212 |fe188788-b89f-4dde-acc1-39cd91806c0d|2021-08-20    |
|18483  |44160392990 |83.98473054761176 |7c44302d-98b3-48be-809e-fb3d99a4d365|2021-08-20    |
|7      |68435002949 |232.5364986739752 |b4a89891-a113-45ef-ae78-ed413546c551|2021-08-20    |
|18484  |70033549200 |871.7678061729196 |4b1d941a-21a1-43ea-a972-55af2d236f38|2021-08-20    |
|7      |41944909975 |30.910755230234322|302ae628-8eba-4a52-b77f-9f8aedc906e8|2021-08-20    |
|18485  |41705715409 |309.5417224575787 |67f4f98e-3149-4e8f-b418-e726dce669eb|2021-08-20    |
|8      |29566626791 |74.15732460440282 |71a81652-cc91-4bf5-b1b0-b074ec72478d|2021-08-20    |
|18487  |32361057556 |119.19055863068847|15577921-1104-4704-a06d-9f73724b36c4|2021-08-20    |
|9      |47663262928 |36.69873283148887 |c4fcb49a-ce87-4e15-944e-0e6bdd660e8d|2021-08-20    |
+-------+------------+------------------+------------------------------------+--------------+
only showing top 20 rows

+-------+------------------+---------------------+--------------------+------------------------------------+
|summary|user_id           |merchant_abn         |dollar_value        |order_id                            |
+-------+------------------+---------------------+--------------------+------------------------------------+
|count  |14195505          |14195505             |14195505            |14195505                            |
|mean   |12040.444758957148|5.542435612114305E10 |166.22895390891708  |NULL                                |
|stddev |6951.450003956151 |2.5328103304376545E10|517.850560261278    |NULL                                |
|min    |1                 |10023283211          |9.756658099412162E-8|000000d4-d252-4e20-84d5-55e8226f945a|
|25%    |6020              |32844138686          |26.128983744414633  |NULL                                |
|50%    |12041             |55282987193          |62.22718705131452   |NULL                                |
|75%    |18060             |77338620996          |150.42617503195567  |NULL                                |
|max    |24081             |99990536339          |105193.88578925544  |fffffca5-42ab-49df-97a9-0ca8e551890a|
+-------+------------------+---------------------+--------------------+------------------------------------+

In [ ]:
transactions_df = transactions.groupby("order_datetime").count().sort("order_datetime").to_pandas_on_spark()
transactions_df.plot.line("order_datetime", "count")

In [ ]:
consumer_fraud = spark.read.option("header", True).csv("../data/tables/consumer_fraud_probability.csv")
consumer_fraud.show()
consumer_fraud.summary().show()

In [3]:
consumer_details = spark.read.parquet("../data/tables/consumer_user_details.parquet")
consumer_details.show()

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [ ]:
merchant_fraud = spark.read.option("header", True).csv("../data/tables/merchant_fraud_probability.csv")
merchant_fraud.show()
merchant_fraud.summary().show()

In [4]:
tbl_consumer = spark.read.option("header", True).option("delimiter", "|").csv("../data/tables/tbl_consumer.csv")
tbl_consumer.show(truncate=False)
tbl_consumer.summary().show()

+-----------------+-----------------------------+-----+--------+-----------+-----------+
|name             |address                      |state|postcode|gender     |consumer_id|
+-----------------+-----------------------------+-----+--------+-----------+-----------+
|Yolanda Williams |413 Haney Gardens Apt. 742   |WA   |6935    |Female     |1195503    |
|Mary Smith       |3764 Amber Oval              |NSW  |2782    |Female     |179208     |
|Jill Jones MD    |40693 Henry Greens           |NT   |862     |Female     |1194530    |
|Lindsay Jimenez  |00653 Davenport Crossroad    |NSW  |2780    |Female     |154128     |
|Rebecca Blanchard|9271 Michael Manors Suite 651|WA   |6355    |Female     |712975     |
|Karen Chapman    |2706 Stewart Oval Suite 588  |NSW  |2033    |Female     |407340     |
|Andrea Jones     |122 Brandon Cliff            |QLD  |4606    |Female     |511685     |
|Stephen Williams |6804 Wright Crest Suite 311  |WA   |6056    |Male       |448088     |
|Stephanie Reyes  |5813 Denise Land Suite 690   |NSW  |2482    |Female     |650435     |
|Jillian Gonzales |461 Ryan Common Suite 734    |VIC  |3220    |Female     |1058499    |
|Eugene Lucas     |33983 Kevin Drive Suite 628  |VIC  |3063    |Undisclosed|428325     |
|Melissa Jones    |13706 Kimberly Port          |WA   |6743    |Female     |1494640    |
|Angela Brown PhD |0236 Mills Land Suite 203    |QLD  |4673    |Female     |1146717    |
|Lance Butler     |8943 Kenneth Camp            |VIC  |3332    |Male       |1343547    |
|Paul Abbott      |60495 Ryan Hill              |QLD  |4512    |Male       |1463076    |
|Tracy Hart       |9671 Jacob Harbors Suite 431 |NSW  |2452    |Male       |1356405    |
|Alyssa Wilson    |44353 Nathan Ridge           |VIC  |3719    |Female     |1331093    |
|Michael Burnett  |89400 Torres Fort            |NSW  |1109    |Male       |80965      |
|Victoria Gonzalez|68657 Johnson Glen Suite 266 |TAS  |7276    |Female     |1226530    |
|James Norris     |790 Ramos Landing            |VIC  |3234    |Undisclosed|1390367    |
+-----------------+-----------------------------+-----+--------+-----------+-----------+
only showing top 20 rows

+-------+-------------+--------------------+------+------------------+-----------+-----------------+
|summary|         name|             address| state|          postcode|     gender|      consumer_id|
+-------+-------------+--------------------+------+------------------+-----------+-----------------+
|  count|       499999|              499999|499999|            499999|     499999|           499999|
|   mean|         NULL|                NULL|  NULL|4037.0854181708364|       NULL|750895.2123184246|
| stddev|         NULL|                NULL|  NULL|1791.0766391396735|       NULL|433100.4260141143|
|    min|Aaron Acevedo|000 Abbott Junctions|   ACT|              1001|     Female|               10|
|    25%|         NULL|                NULL|  NULL|            2619.0|       NULL|         376025.0|
|    50%|         NULL|                NULL|  NULL|            3807.0|       NULL|         751548.0|
|    75%|         NULL|                NULL|  NULL|            5346.0|       NULL|        1126269.0|
|    max|   Zoe Wright|99999 Smith Wall ...|    WA|              9999|Undisclosed|           999998|
+-------+-------------+--------------------+------+------------------+-----------+-----------------+

In [25]:
tbl_merchants = spark.read.parquet("../data/tables/tbl_merchants.parquet")
tbl_merchants = tbl_merchants.withColumn('tags', F.regexp_replace('tags', r'\(', r'\[')) \
    .withColumn('tags', F.lower(F.regexp_replace('tags', r'\)', r'\]')))

tbl_merchants = tbl_merchants.withColumn('tags1', (F.regexp_extract('tags', r'\[\[([^\]]*)\][^\[]*\[([^\]]*)\][^\[]*\[take rate: ([^\]]*)\]\]', idx=1)))
tbl_merchants = tbl_merchants.withColumn('tags2', (F.regexp_extract('tags', r'\[\[([^\]]*)\][^\[]*\[([^\]]*)\][^\[]*\[take rate: ([^\]]*)\]\]', idx=2)))
tbl_merchants = tbl_merchants.withColumn('tags3', (F.regexp_extract('tags', r'\[\[([^\]]*)\][^\[]*\[([^\]]*)\][^\[]*\[take rate: ([^\]]*)\]\]', idx=3)).cast(DoubleType()))
tbl_merchants.sort('tags3').show(truncate=False)

+----------------------------+-----------------------------------------------------------------------------------------------------------------+------------+-------------------------------------------------------------------------------------+-----+-----+
|name                        |tags                                                                                                             |merchant_abn|tags1                                                                                |tags2|tags3|
+----------------------------+-----------------------------------------------------------------------------------------------------------------+------------+-------------------------------------------------------------------------------------+-----+-----+
|Lacus LLP                   |[[books, periodicals, and newspapers], [e], [take rate: 0.10]]                                                   |55622580330 |books, periodicals, and newspapers                                                   |e    |0.1  |
|Et Nunc Consulting          |[[books, periodicals, and newspapers], [e], [take rate: 0.16]]                                                   |41944909975 |books, periodicals, and newspapers                                                   |e    |0.16 |
|Proin Vel Inc.              |[[stationery, office supplies and printing and writing paper], [e], [take rate: 0.16]]                           |25019506172 |stationery, office supplies and printing and writing paper                           |e    |0.16 |
|Feugiat Non Inc.            |[[health and beauty spas], [e], [take rate: 0.16]]                                                               |52985233084 |health and beauty spas                                                               |e    |0.16 |
|Enim Etiam Institute        |[[telecom], [e], [take rate: 0.16]]                                                                              |73973714129 |telecom                                                                              |e    |0.16 |
|At Pretium Limited          |[[digital goods: books, movies, music], [e], [take rate: 0.17]]                                                  |73205504863 |digital goods: books, movies, music                                                  |e    |0.17 |
|Felis Limited               |[[furniture, home furnishings and equipment shops, and manufacturers, except appliances], [e], [take rate: 0.18]]|10023283211 |furniture, home furnishings and equipment shops, and manufacturers, except appliances|e    |0.18 |
|Hendrerit Donec Limited     |[[digital goods: books, movies, music], [e], [take rate: 0.18]]                                                  |57079678065 |digital goods: books, movies, music                                                  |e    |0.18 |
|Massa PC                    |[[motor vehicle supplies and new parts], [e], [take rate: 0.18]]                                                 |99990536339 |motor vehicle supplies and new parts                                                 |e    |0.18 |
|Sed Dictum Eleifend Ltd     |[[equipment, tool, furniture, and appliance rent al  and leasing], [e], [take rate: 0.20]]                       |93230533382 |equipment, tool, furniture, and appliance rent al  and leasing                       |e    |0.2  |
|Risus Nulla Institute       |[[bicycle shops - sales and service], [e], [take rate: 0.22]]                                                    |19995295153 |bicycle shops - sales and service                                                    |e    |0.22 |
|Nunc Est LLP                |[[watch, clock, and jewelry repair shops], [e], [take rate: 0.22]]                                               |34920839316 |watch, clock, and jewelry repair shops                                               |e    |0.22 |
|Nullam Vitae Diam PC        |[[opticians, optical goods, and eyeglasses], [e], [take rate: 0.22]]                                             |55433932875 |opticians, optical goods, and eyeglasses                                             |e    |0.22 |
|Turpis Incorporated         |[[gift, card, novelty, and souvenir shops], [e], [take rate: 0.23]]                                              |64196096120 |gift, card, novelty, and souvenir shops                                              |e    |0.23 |
|Vitae Sodales Institute     |[[stationery, office supplies and printing and writing paper], [e], [take rate: 0.23]]                           |66952421200 |stationery, office supplies and printing and writing paper                           |e    |0.23 |
|Lacinia Orci Associates     |[[digital goods: books, movies, music], [e], [take rate: 0.24]]                                                  |59358011432 |digital goods: books, movies, music                                                  |e    |0.24 |
|Dis Parturient Corporation  |[[gift, card, novelty, and souvenir shops], [e], [take rate: 0.24]]                                              |13093581573 |gift, card, novelty, and souvenir shops                                              |e    |0.24 |
|Quisque LLC                 |[[health and beauty spas], [e], [take rate: 0.24]]                                                               |96381568282 |health and beauty spas                                                               |e    |0.24 |
|Nullam Enim Sed Incorporated|[[tent and awning shops], [e], [take rate: 0.27]]                                                                |78080443264 |tent and awning shops                                                                |e    |0.27 |
|Et Pede Inc.                |[[motor vehicle supplies and new parts], [e], [take rate: 0.28]]                                                 |54292545196 |motor vehicle supplies and new parts                                                 |e    |0.28 |
+----------------------------+-----------------------------------------------------------------------------------------------------------------+------------+-------------------------------------------------------------------------------------+-----+-----+
only showing top 20 rows

In [ ]:
tbl_merchants_counts = tbl_merchants.groupby('tags2', 'tags3').count()
tbl_merchants_counts.select('tags2', 'tags3', 'count').to_pandas_on_spark().corr()

In [23]:
# Combine the census data into a single dataframe, by postcode
# https://www.abs.gov.au/census/find-census-data/datapacks?release=2021&product=GCP&geography=SA2&header=S
TABLES = [
    '2021Census_G02_AUST_POA.csv',
    '2021Census_G04A_AUST_POA.csv',
    '2021Census_G04B_AUST_POA.csv'
]
POSTCODE_COLUMN = 'POA_CODE_2021'
SELECTED_COLUMNS = [
    POSTCODE_COLUMN,
    'Median_age_persons', 
    'Median_tot_fam_inc_weekly', 
    'Median_tot_hhd_inc_weekly', 
    'Average_household_size', 
    'Tot_M', 
    'Tot_P', 
    'Tot_F'
]

census_df = None
for table in TABLES:
    df = spark.read.options(header=True) \
        .csv(f"../data/landing/2021_GCP_POA_for_AUS_short-header/2021 Census GCP Postal Areas for AUS/{table}")

    if census_df is None:
        census_df = df
    else:
        census_df = census_df.join(df, POSTCODE_COLUMN).drop(df[POSTCODE_COLUMN])

census_df = census_df.withColumn(POSTCODE_COLUMN, F.regexp_replace(F.col(POSTCODE_COLUMN), "(\D)", ""))
census_df = census_df.select(*SELECTED_COLUMNS)
for column in SELECTED_COLUMNS[1:]:
    census_df = census_df.withColumn(column, F.col(column).cast(DoubleType()))
census_df.show()
census_df.summary().show()
census_df.write.mode('overwrite').parquet('../data/raw/census2021.parquet')

+-------------+------------------+-------------------------+-------------------------+----------------------+-------+-------+-------+
|POA_CODE_2021|Median_age_persons|Median_tot_fam_inc_weekly|Median_tot_hhd_inc_weekly|Average_household_size|  Tot_M|  Tot_P|  Tot_F|
+-------------+------------------+-------------------------+-------------------------+----------------------+-------+-------+-------+
|         2000|              32.0|                   2367.0|                   2225.0|                   2.1|14223.0|27936.0|13713.0|
|         2007|              30.0|                   2197.0|                   1805.0|                   2.1| 3763.0| 7410.0| 3644.0|
|         2008|              28.0|                   2453.0|                   1746.0|                   1.9| 5315.0|10400.0| 5083.0|
|         2009|              37.0|                   3035.0|                   2422.0|                   2.1| 6391.0|12658.0| 6267.0|
|         2010|              36.0|                   3709.0|                   2297.0|                   1.7|15356.0|26443.0|11082.0|
|         2011|              39.0|                   3565.0|                   2041.0|                   1.5| 9758.0|18187.0| 8424.0|
|         2015|              34.0|                   3514.0|                   2607.0|                   2.1| 5906.0|11422.0| 5515.0|
|         2016|              36.0|                   3263.0|                   2145.0|                   1.9| 7123.0|13072.0| 5943.0|
|         2017|              32.0|                   2684.0|                   2104.0|                   1.9|15333.0|29003.0|13669.0|
|         2018|              34.0|                   2407.0|                   2017.0|                   2.3| 9958.0|19878.0| 9919.0|
|         2019|              36.0|                   2834.0|                   2363.0|                   2.6| 6647.0|13467.0| 6816.0|
|         2020|              30.0|                   2394.0|                   2254.0|                   2.5|11057.0|21591.0|10539.0|
|         2021|              37.0|                   4589.0|                   2823.0|                   2.1| 7167.0|14946.0| 7776.0|
|         2022|              36.0|                   3460.0|                   2484.0|                   2.2| 6547.0|13509.0| 6959.0|
|         2023|              39.0|                   4509.0|                   3315.0|                   2.5| 5066.0|10590.0| 5529.0|
|         2024|              38.0|                   4259.0|                   3197.0|                   2.4| 5421.0|11380.0| 5961.0|
|         2025|              42.0|                   4557.0|                   3013.0|                   2.2| 3220.0| 7189.0| 3966.0|
|         2026|              34.0|                   3685.0|                   2896.0|                   2.2|15997.0|32693.0|16699.0|
|         2027|              46.0|                   4558.0|                   3027.0|                   2.0| 3580.0| 7810.0| 4230.0|
|         2028|              39.0|                   4250.0|                   3077.0|                   2.1| 2114.0| 4709.0| 2598.0|
+-------------+------------------+-------------------------+-------------------------+----------------------+-------+-------+-------+
only showing top 20 rows

+-------+------------------+------------------+-------------------------+-------------------------+----------------------+-----------------+-----------------+-----------------+
|summary|     POA_CODE_2021|Median_age_persons|Median_tot_fam_inc_weekly|Median_tot_hhd_inc_weekly|Average_household_size|            Tot_M|            Tot_P|            Tot_F|
+-------+------------------+------------------+-------------------------+-------------------------+----------------------+-----------------+-----------------+-----------------+
|  count|              2643|              2643|                     2643|                     2643|                  2643|             2643|             2643|             2643|
|   mean| 4169.567915247824| 43.38441165342414|       1974.9659477866062|        1607.308361710178|    2.4601210745365076|4746.547862277715|9618.901248581158|4872.346954218691|
| stddev|1529.6617635065575| 7.489670852428322|        643.3465903597508|        531.8668354868943|   0.34928106179298124|6836.752837631864|13879.52122114612|7049.080044584508|
|    min|              0800|               0.0|                      0.0|                      0.0|                   0.0|              0.0|              0.0|              0.0|
|    25%|            2898.0|              38.0|                   1530.0|                   1218.0|                   2.2|            360.0|            691.0|            328.0|
|    50%|            3930.0|              43.0|                   1881.0|                   1493.0|                   2.4|           1769.0|           3514.0|           1765.0|
|    75%|            5279.0|              48.0|                   2278.0|                   1950.0|                   2.7|           6852.0|          13947.0|           7094.0|
|    max|              9797|              79.0|                   7000.0|                   4184.0|                   4.2|          66596.0|         129888.0|          63291.0|
+-------+------------------+------------------+-------------------------+-------------------------+----------------------+-----------------+-----------------+-----------------+

In [ ]:
import folium

# https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/jul2021-jun2026/access-and-downloads/digital-boundary-files

# Plot choropleth maps for each selected column
poa_df = gpd.read_file('../data/landing/POA_2021_AUST_GDA2020_SHP')

census_df = pd.read_parquet('../data/raw/census2021.parquet')
poa_df = poa_df.merge(census_df, left_on='POA_CODE21', right_on='POA_CODE_2021')

m = folium.Map(location=[-25.2744, 133.7751], zoom_start=4)  # Coordinates and zoom level for Australia
folium.Choropleth(
    geo_data=poa_df,
    data=poa_df,
    columns=['POA_CODE21', 'Tot_P'],
    key_on='feature.properties.POA_CODE21',
    fill_color='YlGnBu',
    fill_opacity=0.7,
    line_opacity=0.2,
    nan_fill_color='gray',
    legend_name='Total Population'
).add_to(m)
m

In [15]:
# retail_df = ps.read_excel('../data/landing/850101.xlsx')
spark_df = spark.read \
    .format("com.crealytics.spark.excel") \
    .option("header", "true") \
    .option("dataAddress", "Data1!") \
    .option("inferSchema", "false") \
    .load("../data/landing/850101.xlsx")
spark_df.show()

+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|                 _c0|                 _c1|                 _c2|                 _c3|                 _c4|                 _c5|                 _c6|                 _c7|                 _c8|                 _c9|                _c10|                _c11|                _c12|                _c13|                _c14|                _c15|                _c16|                _c17|                _c18|                _c19|                _c20|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|Turnover ;  Total...|
|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|          $ Millions|
|            Original|            Original|            Original|            Original|            Original|            Original|            Original| Seasonally Adjusted| Seasonally Adjusted| Seasonally Adjusted| Seasonally Adjusted| Seasonally Adjusted| Seasonally Adjusted| Seasonally Adjusted|               Trend|               Trend|               Trend|               Trend|               Trend|               Trend|               Trend|
|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|                FLOW|
|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|               Month|
|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|                   1|
|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|            Apr-1982|
|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|           July-2024|
|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|                 508|
|           A3348591K|           A3348600A|           A3348609W|           A3348618X|           A3348627A|           A3348636C|           A3348582J|           A3348594T|           A3348603J|           A3348612K|           A3348621L|           A3348630R|           A3348639K|           A3348585R|           A3348597X|           A3348606R|           A3348615T|           A3348624V|           A3348633W|           A3348642X|           A3348588W|
|              1162.6|               592.3|               359.9|               460.1|               479.1|               342.4|              3396.4|              1167.2|               653.4|               360.7|               479.7|               507.9|               349.8|              3518.7|              1173.2|               652.9|               362.7|               482.4|               505.1|               347.6|              3523.4|
|              1150.9|               629.6|               386.6|               502.6|               486.1|               342.1|              3497.9|              1178.6|               648.6|               362.6|               489.2|               502.3|               346.3|              3527.6|              1181.7|               654.1|               362.0|               484.2|               504.9|               346.3|              3533.6|
|              1160.0|               607.4|               350.5|               443.8|               467.5|               328.7|              3357.8|              1203.7|               655.8|               365.1|               479.2|               506.9|               350.8|              3561.5|              1192.7|               655.7|               361.9|               486.4|               504.7|               345.9|              3547.0|
|              1206.4|               632.4|               359.3|               459.1|               491.1|               338.5|              3486.8|              1209.8|               660.5|               362.0|               476.5|               503.6|               341.5|              3553.9|              1203.2|               656.6|               361.6|               488.6|               505.3|               345.4|              3560.6|
|              1152.5|               622.6|               325.2|               438.4|               485.7|               331.5|              3355.9|              1198.9|               659.7|               359.3|               515.2|               505.9|               342.7|              3581.8|              1213.5|               656.5|               361.9|               489.8|               505.6|               346.4|              3573.6|
|              1189.1|               622.0|               346.3|               465.1|               489.9|               341.9|              3454.3|              1217.9|               661.5|               363.8|               485.1|               506.4|               346.5|              3581.2|              1223.8|               655.7|               363.4|               488.7|               506.2|               348.6|              3586.7|
|              1247.4|               637.8|               354.2|               452.7|               500.9|               358.4|              3551.5|              1242.3|               649.6|               359.0|               482.6|               508.0|               354.2|              3595.6|              1232.9|               658.2|               366.2|               485.6|               508.6|               353.5|              3605.8|
|              1280.7|               717.2|               403.9|               522.9|               531.1|               374.7|              3830.5|              1260.6|               658.1|               375.1|               488.0|               509.6|               360.2|              3651.7|              1244.9|               667.3|               370.7|               483.4|               513.3|               358.7|              3637.7|
|              1483.7|              1077.0|               571.4|               889.3|               725.2|               433.1|              5179.7|              1245.6|               670.5|               375.9|               478.6|               518.0|               361.8|              3650.4|              1258.3|               681.0|               376.1|               484.3|               519.3|               364.3|              3681.0|
|              1202.8|               615.9|               326.5|               379.2|               491.4|               368.6|              3384.5|              1240.6|               702.8|               386.1|               471.2|               525.6|               369.3|              3695.6|              1268.8|               694.9|               381.9|               488.8|               525.3|               367.7|              3729.5|
+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [35]:
retail_df = pd.read_excel("../data/landing/850103.xlsx", sheet_name="Data1", index_col=0)

states = ["NSW", "VIC", "QLD", "SA", "WA", "TAS", "NT", "ACT", "Total"]
trend_types = ["original", "seasonal", "trend"]
retail_columns = []
for trend_type in trend_types:
    for state in states:
        retail_columns.append(f"{state}_{trend_type}")

retail_df.columns = retail_columns
retail_df = retail_df.iloc[11:,:]
retail_df.index = pd.to_datetime(retail_df.index)
retail_df.to_parquet("../data/raw/retail_sales.parquet")
retail_df

,NSW_original,VIC_original,QLD_original,SA_original,WA_original,TAS_original,NT_original,ACT_original,Total_original,NSW_seasonal,...,Total_seasonal,NSW_trend,VIC_trend,QLD_trend,SA_trend,WA_trend,TAS_trend,NT_trend,ACT_trend,Total_trend
1982-06-01,1234.2,887,494.1,277.2,301.5,77.5,NaN,55.3,3357.8,1309.8,...,3561.5,1305.1,946.3,515.7,291.8,317.8,81.9,NaN,57.7,3547
1982-07-01,1265,921.3,515.6,296.1,316.4,82.7,NaN,56.3,3486.8,1291.9,...,3553.9,1302.4,954.3,517.3,296.3,319.1,82.2,NaN,58.2,3560.6
1982-08-01,1217.6,883.2,501.4,288.4,300.5,78.1,NaN,55.4,3355.9,1314.4,...,3581.8,1298.1,963.6,518,301.1,320.4,82.4,NaN,58.9,3573.6
1982-09-01,1244.9,917.9,517.7,293,312.3,79.1,NaN,57.5,3454.3,1292.4,...,3581.2,1293.1,974.1,517.9,306.2,321.6,82.4,NaN,60,3586.7
1982-10-01,1264.2,983.3,504.2,307.9,318.7,78.7,NaN,61.9,3551.5,1289.4,...,3595.6,1293.2,985.5,518.1,311.3,322.6,82.5,NaN,61.2,3605.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-03-01,10873.5,9101.1,7185.7,2292.9,3975.6,721,313.8,673.1,35136.7,11082.4,...,35710.3,11151.2,9210.3,7363,2317.9,4032.8,720.4,329.7,673,35798.2
2024-04-01,10639.8,8820.1,6907.1,2218.8,3800.2,682.8,311,641.2,34020.9,11183.2,...,35803.3,11164.9,9230.6,7379.6,2320.4,4059.1,720.3,331.3,675,35881.3
2024-05-01,11090.6,9144.7,7206.6,2298.7,4004.9,707.1,335.3,667.6,35455.4,11179,...,35998.4,11179.7,9254.4,7401.6,2322.8,4087.5,720.2,333,676.9,35976
2024-06-01,10777.4,8937.4,7163.6,2229,3973.2,678.1,346.4,661.2,34766.2,11217.2,...,36162.1,11195.8,9281.9,7426,2325.3,4116.3,720.1,334.7,678.8,36078.9
2024-07-01,10772.9,8957.7,7424.2,2253.4,4040.8,693.2,372.7,654.4,35169.4,11196.7,...,36160.1,11204.4,9300.1,7446,2324.7,4139.6,719.5,336,679.7,36150

In [3]:
retail_df = spark.read.excel('../data/landing/850103.xlsx')
retail_df.show()

AttributeError: 'DataFrameReader' object has no attribute 'excel'