# Preprocessing Transactions

This file preprocesses the transaction data

In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import os
import re
import glob
import math
import matplotlib.pyplot as plt
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, LongType, IntegerType, DateType, DoubleType
from datetime import datetime, timedelta

In [2]:
spark = (
    SparkSession.builder.appName('Transactions Preprocess')
    .config("spark.sql.repl.eagerEval.enabled", True)
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .config('spark.driver.memory', '4g')
    .config('spark.executor.memory', '2g')
    .getOrCreate()
)

your 131072x1 screen size is bogus. expect trouble
24/10/13 21:57:38 WARN Utils: Your hostname, DESKTOP-F216TKE resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
24/10/13 21:57:38 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/10/13 21:57:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/10/13 21:57:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/10/13 21:57:40 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/10/13 21:57:40 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.

In [ ]:
transactions1 = spark.read.parquet(".././data/transactions/transactions_20210228_20210827_snapshot")
transactions2 = spark.read.parquet(".././data/transactions/transactions_20210828_20220227_snapshot")
transactions3 = spark.read.parquet(".././data/transactions/transactions_20220228_20220828_snapshot")

transactions = transactions1.union(transactions2).union(transactions3)

transactions.show()

In [ ]:
transactions.write.mode('overwrite').parquet('.././data/transactions/total_transactions')

In [3]:
transactions = spark.read.parquet(".././data/transactions/total_transactions")
transactions.show(truncate = False)

+-------+------------+------------------+------------------------------------+--------------+
|user_id|merchant_abn|dollar_value      |order_id                            |order_datetime|
+-------+------------+------------------+------------------------------------+--------------+
|14935  |79417999332 |136.06570809815838|23acbb7b-cf98-4580-9775-86b8e0a2bd88|2021-11-26    |
|1      |46451548968 |72.61581642788431 |76bab304-fa2d-4004-8179-8638b56a873e|2021-11-26    |
|14936  |89518629617 |3.0783487174439297|a2ae446a-2959-41c4-81fd-a30c1efbde0c|2021-11-26    |
|1      |49167531725 |51.58228625503599 |7080c274-17f7-4ccf-be22-1d33a45f7f81|2021-11-26    |
|14936  |31101120643 |25.228114942417797|8e301c0f-06ab-45cb-a573-47c8e9b95423|2021-11-26    |
|2      |67978471888 |691.5028234458998 |0380e9ad-b0e8-4203-a74b-e4ad3504d643|2021-11-26    |
|14936  |60956456424 |102.13952056640888|5ac3da9c-5147-4524-8efb-0d312cfe6748|2021-11-26    |
|2      |47644196714 |644.5220654863093 |4e368e44-86f8-4dee-b576-af18679bd2dd|2021-11-26    |
|14938  |39649557865 |209.12780951421405|4d78cd01-4bab-494f-97cf-f7443faa348b|2021-11-26    |
|3      |88402174457 |141.0387993699113 |c50c957d-ecfc-430f-9082-61a86eac2e0d|2021-11-26    |
|14938  |32234779638 |102.04090324888061|e94ff357-b036-4937-9df5-e1c2ed581a4d|2021-11-26    |
|4      |24015173965 |157.0             |5b867ac9-d1e0-4308-8311-0c6a6d0b583c|2021-11-26    |
|14939  |79830510987 |246.13590152514766|666909ed-79c2-45b9-806b-beef8a0f1fd8|2021-11-26    |
|5      |76646764782 |35.463129852951695|0c855413-67fa-4678-a358-00599dd21873|2021-11-26    |
|14939  |17324645993 |24.108258533478818|40fd2f7f-a274-4203-93d4-11309acb5383|2021-11-26    |
|5      |71041015148 |89.76800577775657 |93255de9-c8fe-4265-b558-5a4c0a1e8062|2021-11-26    |
|14939  |75089928159 |14.806519329659501|2c5ba1f3-1c5a-4e55-93ab-5d074ddb86d8|2021-11-26    |
|5      |80324045558 |62.79195913018835 |564f81c8-c3c1-4f42-be74-bd708712a550|2021-11-26    |
|14939  |50315283629 |575.3321071340728 |026c6d3d-4f7c-4f4a-aacd-39768c24975c|2021-11-26    |
|6      |11566786699 |15.856637357709419|0230e104-aef0-48f3-873d-cbd8ffd0a6b8|2021-11-26    |
+-------+------------+------------------+------------------------------------+--------------+
only showing top 20 rows

In [4]:
transactions.printSchema()

root
 |-- user_id: long (nullable = true)
 |-- merchant_abn: long (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)

In [5]:
transactions = transactions.withColumn('user_id',  F.col('user_id').cast(StringType()))

In [6]:
transactions = transactions.withColumn('merchant_abn',  F.col('merchant_abn').cast(StringType()))

In [7]:
transactions.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- merchant_abn: string (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)

Check user_id

In [8]:
consumer_details = spark.read.parquet(".././data/curated/consumer_details")
consumer_details.show(truncate = False)

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|1      |1195503    |
|2      |179208     |
|3      |1194530    |
|4      |154128     |
|5      |712975     |
|6      |407340     |
|7      |511685     |
|8      |448088     |
|9      |650435     |
|10     |1058499    |
|11     |428325     |
|12     |1494640    |
|13     |1146717    |
|14     |1343547    |
|15     |1463076    |
|16     |1356405    |
|17     |1331093    |
|18     |80965      |
|19     |1226530    |
|20     |1390367    |
+-------+-----------+
only showing top 20 rows

In [9]:
userid = consumer_details.select(F.col('user_id')).distinct()
userid = userid.toPandas()
userid = userid['user_id'].tolist()

In [10]:
transacid = transactions.select(F.col('user_id')).distinct()
transacid = transacid.toPandas()
transacid = transacid['user_id'].tolist()

In [11]:
transactions.count()

14195505

In [12]:
print(len(set(transacid).difference(userid)))

0

In [13]:
print(set(transacid).difference(userid))

set()

Check merchant_abn

In [14]:
tbl_merchants = spark.read.parquet(".././data/curated/tbl_merchants")
tbl_merchants.show(truncate = False)

+------------------------------------+------------+----------------------------------------------------------------+----+---------+
|merchant_name                       |merchant_abn|tags                                                            |type|take_rate|
+------------------------------------+------------+----------------------------------------------------------------+----+---------+
|Felis Limited                       |10023283211 |furniture, home furnishings, equipment, manufacturers           |e   |0.18     |
|Arcu Ac Orci Corporation            |10142254217 |cable, satellite, other pay television, radio                   |b   |4.22     |
|Nunc Sed Company                    |10165489824 |jewelry, watch, clock, silverware                               |b   |4.4      |
|Ultricies Dignissim Lacus Foundation|10187291046 |watch, clock, jewelry repair                                    |b   |3.29     |
|Enim Condimentum PC                 |10192359162 |music, musical instruments, pianos, sheet music                 |a   |6.33     |
|Fusce Company                       |10206519221 |gift, card, novelty, souvenir                                   |a   |6.34     |
|Aliquam Enim Incorporated           |10255988167 |computers, computer peripheral equipment, software              |b   |4.32     |
|Ipsum Primis Ltd                    |10264435225 |watch, clock, jewelry repair                                    |c   |2.39     |
|Pede Ultrices Industries            |10279061213 |computer programming, data processing, integrated systems design|a   |5.71     |
|Nunc Inc.                           |10323485998 |furniture, home furnishings, equipment, manufacturers           |a   |6.61     |
|Facilisis Facilisis Corp.           |10342410215 |computers, computer peripheral equipment, software              |a   |6.34     |
|Odio Institute                      |10346855916 |equipment, tool, furniture, appliance rental, leasing           |b   |3.57     |
|Rutrum Justo Ltd                    |10364012396 |music, musical instruments, pianos, sheet music                 |b   |3.63     |
|Tellus Foundation                   |10385011947 |artist supply, craft                                            |b   |3.17     |
|Sed Et Company                      |10385163239 |florists supplies, nursery stock, flowers                       |a   |6.61     |
|Id Ltd                              |10385250025 |computers, computer peripheral equipment, software              |a   |5.54     |
|Consequat Foundation                |10404542215 |antique, repairs, restoration                                   |a   |6.93     |
|Sit Amet Nulla Corp.                |10430380319 |motor vehicle supplies, new parts                               |b   |4.97     |
|Massa Vestibulum Foundation         |10441711491 |motor vehicle supplies, new parts                               |a   |5.77     |
|Ut Consulting                       |10462560289 |gift, card, novelty, souvenir                                   |c   |2.95     |
+------------------------------------+------------+----------------------------------------------------------------+----+---------+
only showing top 20 rows

In [15]:
tbl_merchants = tbl_merchants.withColumn('merchant_abn',F.col('merchant_abn').cast(StringType()) )

In [16]:
merchants_abn = tbl_merchants.select(F.col('merchant_abn')).distinct()
merchants_abn = merchants_abn.toPandas()
merchants_abn = merchants_abn['merchant_abn'].tolist()

In [17]:
transacabn = transactions.select(F.col('merchant_abn')).distinct()
transacabn = transacabn.toPandas()
transacabn = transacabn['merchant_abn'].tolist()

In [18]:
transactions.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- merchant_abn: string (nullable = true)
 |-- dollar_value: double (nullable = true)
 |-- order_id: string (nullable = true)
 |-- order_datetime: date (nullable = true)

In [19]:
tbl_merchants.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- merchant_abn: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- type: string (nullable = true)
 |-- take_rate: double (nullable = true)

In [20]:
tbl_merchants.printSchema()

root
 |-- merchant_name: string (nullable = true)
 |-- merchant_abn: string (nullable = true)
 |-- tags: string (nullable = true)
 |-- type: string (nullable = true)
 |-- take_rate: double (nullable = true)

In [21]:
print(len(set(transacabn).difference(merchants_abn)))

396

In [22]:
print(set(transacabn).difference(merchants_abn))

{'73439079670', '83316055023', '56395390867', '44881138767', '20890410130', '39872028975', '26189928515', '29227046551', '68441592159', '98770741241', '23686790459', '67564575132', '82045372678', '73645625064', '13129485817', '11240426404', '13177076095', '47832925600', '71727754465', '85364382870', '67202032418', '63966446164', '57241240228', '22390313614', '59852268487', '49465266764', '58830373879', '51914572250', '42754691415', '94527407677', '63684153348', '99553942031', '94311056026', '48540087213', '24403499052', '70649324294', '73683476429', '22215771201', '82961950769', '54082851220', '88555435517', '91848160033', '53145095472', '48597174605', '86398826270', '46530858477', '92867778949', '90635623930', '31761538646', '15073921424', '71836374493', '61333486380', '25569327276', '37070901816', '83893827922', '87816203170', '72900319608', '19417329512', '32642832483', '95390063681', '98421172521', '66600007969', '52447384759', '97452567554', '92396103355', '66591506230', '23495610951', '22237228673', '79526372673', '20290993541', '29566626791', '54785675857', '74777410897', '43231453666', '70770904219', '95463427236', '64121624765', '50794104497', '82774123839', '85194491864', '96129954993', '73533145785', '70186619026', '59258669983', '86083695354', '53714470577', '68925908607', '56096548005', '79246172899', '48926993113', '82729532791', '89143142781', '28767881738', '48732140317', '11358147682', '53225404497', '76224940587', '80788167198', '13494073581', '68724135684', '41425032366', '43632438086', '56703883889', '56503889644', '60452214220', '48539533779', '65130002423', '33604812025', '19142852082', '95677361909', '93559143257', '13868849576', '91418529927', '65901138420', '31277741768', '74648589246', '30818723636', '67254399155', '67330176930', '43978961327', '73148634619', '44417671872', '72519488277', '48766981369', '46693373183', '22130142351', '50663416598', '88116434496', '90217817387', '11029341140', '82414335931', '98134689800', '95492562735', '46765707573', '29323795999', '75892370170', '63248668429', '56638395137', '27950649624', '25810287809', '60945400664', '95135242310', '73052515151', '43820812476', '66000151638', '57685886118', '41438041864', '90827737722', '87921002735', '97996530744', '76470925707', '40561606111', '79123236887', '53313679463', '61806746966', '98345415950', '20203896291', '77126808895', '87700253779', '60892515210', '47286141527', '22119749782', '83220249221', '23996199758', '77252929420', '53335180575', '34768390517', '23142656360', '40324168149', '96567541302', '65535416609', '61640767352', '89211610270', '63072262874', '84682880992', '55376897006', '29836312398', '60218700582', '18250330194', '53819859057', '72847069951', '68666078115', '41164626453', '67214015867', '52985515941', '17366602511', '54963312919', '98914698548', '49837933840', '51213238913', '23633724513', '68666836212', '40965168375', '32297823633', '30717284167', '24745648258', '17109287252', '33286410763', '34451067367', '37720067731', '53997373109', '33621236826', '67877736141', '37145789569', '27508358370', '99877648878', '80664157260', '10672322914', '46572791797', '51776659549', '62789659343', '22211992302', '55282987193', '53852972654', '99989036621', '22614407882', '71762159356', '94100550074', '34967436738', '42211422632', '40284000376', '84453282583', '88472152633', '31507950402', '89738742187', '31584328627', '28717590335', '43023119927', '32649670245', '58623214116', '77698107389', '97396701267', '48299688317', '24089799666', '35601926858', '60427964172', '21328457653', '87901668493', '82999039227', '23329655134', '20206252973', '32635507667', '91764184823', '35625780258', '84544964236', '91162493125', '73121558118', '99223587142', '87606625308', '11137507330', '57542178219', '11400713351', '90628017098', '70765550736', '87802246756', '30195713177', '99271509353', '45382127804', '81337769582', '98671274602', '55233303555', '24406529929', '68395659657', '37816907112', '27848119046', '66782478748', '92220967360', '40576714979', '96836546482', '76609397647', '17670294801', '71874230481', '35389993777', '24786876262', '31782061377', '91282687779', '64593163168', '46244515644', '28548640086', '88020276364', '70893541900', '13226823813', '62321559724', '47856542678', '53714166188', '44649509702', '37333878076', '49010686671', '60944858280', '93360876880', '13289167958', '24421284006', '59299206461', '64701685993', '63344521351', '86868464441', '92442801816', '56373397631', '79953723663', '20562405782', '58480763378', '73057975450', '63939052570', '53581165509', '15699401518', '24301977828', '30984752802', '20139842060', '58692398254', '67676587249', '19010030815', '65655213781', '70686815873', '64485980706', '16496390781', '68102957262', '57630082383', '72898830301', '22039770981', '71091910300', '40515399744', '50154587122', '31641177052', '75342681786', '79251685752', '11839682616', '84812509466', '89295426212', '61275158695', '21563204684', '93676909958', '99256510843', '53965592614', '48452300785', '28045708925', '64691760345', '87654295342', '55461936812', '17135205181', '46093007286', '19109035261', '91893652010', '87725508705', '28593430437', '66302182333', '84540911878', '84500933183', '15862090061', '12959561070', '29215623643', '15058508937', '74519830790', '66145449222', '58925451218', '75256916133', '56180588880', '90215795341', '47118059796', '14827550074', '57959696529', '29156021067', '97879265453', '32831345323', '53764119144', '46018169855', '28898261035', '41525815543', '83324551496', '98035030376', '80824405924', '57564805948', '49369565194', '83740063335', '32461318592', '48032257165', '71523080801', '25115235920', '45925655949', '74448581190', '32234779638', '27130058170', '84825393532', '63136990017', '39896168660', '87300469819', '88984392677', '53938467553', '79800042168', '81146325646', '23618059522', '29674997261', '18978126444', '87767413481', '57684437046', '87982339334', '18899854203'}

In [23]:
lst = list(set(transacabn).difference(merchants_abn))

In [24]:
dct = {'merchants_abn' : lst}
df = pd.DataFrame(dct)
     
# saving the dataframe
df.to_csv('missingabn.csv')

In [25]:
tbl_merchants.filter(F.col('merchant_abn') == '29836312398').show()

+-------------+------------+----+----+---------+
|merchant_name|merchant_abn|tags|type|take_rate|
+-------------+------------+----+----+---------+
+-------------+------------+----+----+---------+

In [26]:
transactions.filter(F.col('merchant_abn') == '29836312398').show()

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|   8571| 29836312398| 2945.505025734725|b627ed8d-262b-4cd...|    2021-12-11|
|  12517| 29836312398|1543.1517906741005|e32c9ad9-ff31-411...|    2022-10-23|
|   1620| 29836312398|   6258.0924425422|fc4c3ccd-dd22-44a...|    2022-10-26|
|  12615| 29836312398|3813.1665926469286|9e572064-6fde-416...|    2022-08-23|
|  21939| 29836312398| 3899.466796707913|00d9d0d2-7b23-403...|    2022-05-29|
|     69| 29836312398| 4411.945163042472|14f63cf5-d8a0-48f...|    2022-07-28|
|  16922| 29836312398|3448.2403740176865|a38da7f6-4da4-4a3...|    2022-06-03|
|   4687| 29836312398|3807.7129245420906|989ac26e-1e23-424...|    2022-06-07|
|  12991| 29836312398| 2072.397078128837|0368c646-6390-4d8...|    2021-11-07|
|  19145| 29836312398| 831.8509457977442|03816e55-0beb-4f6...|    2021-12-30|
|   9805| 29836312398|  2131.41757196578|a8175995-f0ab-4b4...|    2022-06-01|
|  10144| 29836312398| 1764.066948770218|ca9cc1f0-733a-457...|    2021-09-23|
|  24012| 29836312398| 6629.742288925826|efb2ae38-3463-436...|    2021-10-19|
|   7661| 29836312398| 3452.952527043651|0d9a0ad6-8f2b-467...|    2022-02-27|
|   4346| 29836312398|1392.1747926794683|5a7bfdb8-35ff-494...|    2022-02-12|
|  21557| 29836312398| 4245.267191256968|a33bbe61-482a-4a9...|    2021-05-27|
|  15570| 29836312398| 2583.767422402494|9e182374-cc8f-41c...|    2021-07-10|
|  16418| 29836312398| 4491.359134827531|e33817f6-c474-474...|    2022-02-08|
|    247| 29836312398|2258.3094044557474|8d37c2be-cd41-4fc...|    2021-08-03|
|  17124| 29836312398| 4007.488687577734|624b2b03-175b-42d...|    2021-04-23|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

check dollar value

In [27]:
transactions.filter(F.col('dollar_value') < 0).show()

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

check null values

In [28]:
transactions.filter(F.isnull('dollar_value')).show()

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

In [29]:
transactions.filter(F.isnull('order_id')).show()

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

In [30]:
transactions.filter(F.isnull('user_id')).show()

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

In [31]:
transactions.filter(F.isnull('order_datetime')).show()

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

In [32]:
transactions.filter(F.isnull('merchant_abn')).show()

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

In [33]:
transactions.filter(F.isnan('dollar_value')).show()

+-------+------------+------------+--------+--------------+
|user_id|merchant_abn|dollar_value|order_id|order_datetime|
+-------+------------+------------+--------+--------------+
+-------+------------+------------+--------+--------------+

Removing merchant_abn not in tbl_merchants

In [34]:
lst

['73439079670',
 '83316055023',
 '56395390867',
 '44881138767',
 '20890410130',
 '39872028975',
 '26189928515',
 '29227046551',
 '68441592159',
 '98770741241',
 '23686790459',
 '67564575132',
 '82045372678',
 '73645625064',
 '13129485817',
 '11240426404',
 '13177076095',
 '47832925600',
 '71727754465',
 '85364382870',
 '67202032418',
 '63966446164',
 '57241240228',
 '22390313614',
 '59852268487',
 '49465266764',
 '58830373879',
 '51914572250',
 '42754691415',
 '94527407677',
 '63684153348',
 '99553942031',
 '94311056026',
 '48540087213',
 '24403499052',
 '70649324294',
 '73683476429',
 '22215771201',
 '82961950769',
 '54082851220',
 '88555435517',
 '91848160033',
 '53145095472',
 '48597174605',
 '86398826270',
 '46530858477',
 '92867778949',
 '90635623930',
 '31761538646',
 '15073921424',
 '71836374493',
 '61333486380',
 '25569327276',
 '37070901816',
 '83893827922',
 '87816203170',
 '72900319608',
 '19417329512',
 '32642832483',
 '95390063681',
 '98421172521',
 '66600007969',
 '52447384759',
 '97452567554',
 '92396103355',
 '66591506230',
 '23495610951',
 '22237228673',
 '79526372673',
 '20290993541',
 '29566626791',
 '54785675857',
 '74777410897',
 '43231453666',
 '70770904219',
 '95463427236',
 '64121624765',
 '50794104497',
 '82774123839',
 '85194491864',
 '96129954993',
 '73533145785',
 '70186619026',
 '59258669983',
 '86083695354',
 '53714470577',
 '68925908607',
 '56096548005',
 '79246172899',
 '48926993113',
 '82729532791',
 '89143142781',
 '28767881738',
 '48732140317',
 '11358147682',
 '53225404497',
 '76224940587',
 '80788167198',
 '13494073581',
 '68724135684',
 '41425032366',
 '43632438086',
 '56703883889',
 '56503889644',
 '60452214220',
 '48539533779',
 '65130002423',
 '33604812025',
 '19142852082',
 '95677361909',
 '93559143257',
 '13868849576',
 '91418529927',
 '65901138420',
 '31277741768',
 '74648589246',
 '30818723636',
 '67254399155',
 '67330176930',
 '43978961327',
 '73148634619',
 '44417671872',
 '72519488277',
 '48766981369',
 '46693373183',
 '22130142351',
 '50663416598',
 '88116434496',
 '90217817387',
 '11029341140',
 '82414335931',
 '98134689800',
 '95492562735',
 '46765707573',
 '29323795999',
 '75892370170',
 '63248668429',
 '56638395137',
 '27950649624',
 '25810287809',
 '60945400664',
 '95135242310',
 '73052515151',
 '43820812476',
 '66000151638',
 '57685886118',
 '41438041864',
 '90827737722',
 '87921002735',
 '97996530744',
 '76470925707',
 '40561606111',
 '79123236887',
 '53313679463',
 '61806746966',
 '98345415950',
 '20203896291',
 '77126808895',
 '87700253779',
 '60892515210',
 '47286141527',
 '22119749782',
 '83220249221',
 '23996199758',
 '77252929420',
 '53335180575',
 '34768390517',
 '23142656360',
 '40324168149',
 '96567541302',
 '65535416609',
 '61640767352',
 '89211610270',
 '63072262874',
 '84682880992',
 '55376897006',
 '29836312398',
 '60218700582',
 '18250330194',
 '53819859057',
 '72847069951',
 '68666078115',
 '41164626453',
 '67214015867',
 '52985515941',
 '17366602511',
 '54963312919',
 '98914698548',
 '49837933840',
 '51213238913',
 '23633724513',
 '68666836212',
 '40965168375',
 '32297823633',
 '30717284167',
 '24745648258',
 '17109287252',
 '33286410763',
 '34451067367',
 '37720067731',
 '53997373109',
 '33621236826',
 '67877736141',
 '37145789569',
 '27508358370',
 '99877648878',
 '80664157260',
 '10672322914',
 '46572791797',
 '51776659549',
 '62789659343',
 '22211992302',
 '55282987193',
 '53852972654',
 '99989036621',
 '22614407882',
 '71762159356',
 '94100550074',
 '34967436738',
 '42211422632',
 '40284000376',
 '84453282583',
 '88472152633',
 '31507950402',
 '89738742187',
 '31584328627',
 '28717590335',
 '43023119927',
 '32649670245',
 '58623214116',
 '77698107389',
 '97396701267',
 '48299688317',
 '24089799666',
 '35601926858',
 '60427964172',
 '21328457653',
 '87901668493',
 '82999039227',
 '23329655134',
 '20206252973',
 '32635507667',
 '91764184823',
 '35625780258',
 '84544964236',
 '91162493125',
 '73121558118',
 '99223587142',
 '87606625308',
 '11137507330',
 '57542178219',
 '11400713351',
 '90628017098',
 '70765550736',
 '87802246756',
 '30195713177',
 '99271509353',
 '45382127804',
 '81337769582',
 '98671274602',
 '55233303555',
 '24406529929',
 '68395659657',
 '37816907112',
 '27848119046',
 '66782478748',
 '92220967360',
 '40576714979',
 '96836546482',
 '76609397647',
 '17670294801',
 '71874230481',
 '35389993777',
 '24786876262',
 '31782061377',
 '91282687779',
 '64593163168',
 '46244515644',
 '28548640086',
 '88020276364',
 '70893541900',
 '13226823813',
 '62321559724',
 '47856542678',
 '53714166188',
 '44649509702',
 '37333878076',
 '49010686671',
 '60944858280',
 '93360876880',
 '13289167958',
 '24421284006',
 '59299206461',
 '64701685993',
 '63344521351',
 '86868464441',
 '92442801816',
 '56373397631',
 '79953723663',
 '20562405782',
 '58480763378',
 '73057975450',
 '63939052570',
 '53581165509',
 '15699401518',
 '24301977828',
 '30984752802',
 '20139842060',
 '58692398254',
 '67676587249',
 '19010030815',
 '65655213781',
 '70686815873',
 '64485980706',
 '16496390781',
 '68102957262',
 '57630082383',
 '72898830301',
 '22039770981',
 '71091910300',
 '40515399744',
 '50154587122',
 '31641177052',
 '75342681786',
 '79251685752',
 '11839682616',
 '84812509466',
 '89295426212',
 '61275158695',
 '21563204684',
 '93676909958',
 '99256510843',
 '53965592614',
 '48452300785',
 '28045708925',
 '64691760345',
 '87654295342',
 '55461936812',
 '17135205181',
 '46093007286',
 '19109035261',
 '91893652010',
 '87725508705',
 '28593430437',
 '66302182333',
 '84540911878',
 '84500933183',
 '15862090061',
 '12959561070',
 '29215623643',
 '15058508937',
 '74519830790',
 '66145449222',
 '58925451218',
 '75256916133',
 '56180588880',
 '90215795341',
 '47118059796',
 '14827550074',
 '57959696529',
 '29156021067',
 '97879265453',
 '32831345323',
 '53764119144',
 '46018169855',
 '28898261035',
 '41525815543',
 '83324551496',
 '98035030376',
 '80824405924',
 '57564805948',
 '49369565194',
 '83740063335',
 '32461318592',
 '48032257165',
 '71523080801',
 '25115235920',
 '45925655949',
 '74448581190',
 '32234779638',
 '27130058170',
 '84825393532',
 '63136990017',
 '39896168660',
 '87300469819',
 '88984392677',
 '53938467553',
 '79800042168',
 '81146325646',
 '23618059522',
 '29674997261',
 '18978126444',
 '87767413481',
 '57684437046',
 '87982339334',
 '18899854203']

In [35]:
transactions.filter(F.col('merchant_abn') != '29836312398').count()

14195484

In [36]:
transactions = transactions.filter(F.col('merchant_abn') != '29836312398')

In [37]:
transactions.count()

14195484

In [38]:
transactions = transactions.filter(~transactions['merchant_abn'].isin(lst))

In [39]:
transactions.count()

13614675

In [40]:
transacabn1 = transactions.select(F.col('merchant_abn')).distinct()
transacabn1 = transacabn1.toPandas()
transacabn1 = transacabn1['merchant_abn'].tolist()

In [41]:
transactions.count()

13614675

In [42]:
print(len(set(transacabn1).difference(merchants_abn)))

0

In [43]:
transactions.count()

13614675

In [44]:
transactions.write.mode('overwrite').parquet('.././data/curated/total_transactions')

In [45]:
tbl_merchants.count()

4026